{% extends 'admin/baseadmin.html' %}

{% block content %}
  <div class="row">
    <div class="col-md-3 col-sm-12">
      <!-- Sidebar (Visible on larger screens) -->
      <div class="list-group mb-4">
        <a href="#" class="list-group-item list-group-item-action">Subscribers</a>
        <a href="{{url_for('admin.create_projects')}}" class="list-group-item list-group-item-action">Projects</a>
        <a href="#" class="list-group-item list-group-item-action">Team</a>
        <a href="{{url_for('admin.post_blog')}}" class="list-group-item list-group-item-action">Add Blog Post</a>
        <a href="{{url_for('admin.posts')}}" class="list-group-item list-group-item-action">Posts</a>
      </div>
    </div>
    <div class="col-md-9 col-sm-12">
      <!-- Main Dashboard Content -->
      <div class="card">
        <div class="card-header">
          Welcome, {{ current_user.name }}
        </div>
        <div class="card-body">
          <h5 class="card-title">Your Profile</h5>
          <p><strong>Name:</strong> {{ current_user.name }}</p>
          <p><strong>Email:</strong> {{ current_user.email }}</p>
          <a href="{{ url_for('auth.logout') }}" class="btn btn-secondary btn-sm">Logout</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
