{% extends 'base.html' %}

{% block title%}
About us
{% endblock %}

{%block description%}
Galaxy Cleaning Services - Professional Cleaning Services in Oldham Lancashire Manchester. Discover our expert cleaners, eco-friendly products, and affordable rates. Contact us today!
{%endblock%}

{% block keywords %}
cleaning services,professional cleaning, commercial cleaning,residential cleaning,carpet cleaning,
upholstery cleaning,janitorial services,maid service,house cleaning,office cleaning, deep cleaning,eco-friendly cleaning,affordable cleaning,reliable cleaning, experienced cleaners, customized cleaning plans,
move-in/move-out cleaning, disinfection services,sanitization services
{% endblock %}

{% block content %}

<!-- Inne Page Banner Area Start Here -->
<section class="inner-page-banner bg-common" data-bg-image="../static/images/breadcumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs-area">
                    <h1>About Us</h1>
                    <ul>
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>About</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Inne Page Banner Area End Here -->
<!-- About Us Area Start Here -->
<section class="section-padding-12-9">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="about-box-layout1">
                    <div class="item-tag">Know About Us</div>
                    <h2 class="item-title">Doing Business Since 1992 in Cleaning Service.</h2>
                    <p>At Galaxy Cleaning Services, we have been proudly serving both residential and commercial clients for 32 years, providing top-tier cleaning solutions that cater to a wide variety of needs. Our journey began with a vision to offer not just cleaning services, but peace of mind through meticulously maintained spaces.</p>
                    <p>From regular housekeeping and deep cleans to specialized move-in/move-out services, we have built a reputation for reliability, thoroughness, and efficiency. Our team of highly trained and experienced cleaners ensures that every job is done to the highest standard, using eco-friendly products to promote a safe and healthy environment.</p>
                    <div class="list-item">
                        <ul>
                            <li>
                                <h3>Customer Focused Reviews</h3>
                                <p>At Galaxy Cleaning Services, we pride ourselves on our customer-focused approach. We tailor each service to meet your unique needs and continuously improve based on your feedback, ensuring a personalized, exceptional experience every time.</p>
                            </li>
                            <li>
                                <h3>We Are Committed</h3>
                                <p>We are committed to customer satisfaction, delivering flexible and customized cleaning services for homeowners, businesses, and property managers. With a focus on attention to detail, integrity, and sustainability, we aim to create clean, welcoming spaces that enhance our clients' quality of life.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="about-box-layout6">
                    <div class="item-img">
                        <img src="../static/images/recruitment.jpg" alt="thumb">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Us Area End Here -->
<!-- Why Choose Area End Here -->
<section class="section-padding-12-9 bg-Primary section-shape3">
    <div class="container">
        <div class="row gutters-3">
            <div class="col-lg-4">
                <div class="why-choose-box-layout2">
                    <div class="item-icon">
                        <i class="fas fa-check"></i>
                    </div>
                    <div class="item-content">
                        <h3 class="item-title">Trusted Cleaners</h3>
                        <p>At Galaxy Cleaning Services, our trusted cleaners are fully vetted and trained for your peace of mind. Rely on us for efficient, respectful, and dependable cleaning every time!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="why-choose-box-layout2">
                    <div class="item-icon">
                        <i class="fas fa-check"></i>
                    </div>
                    <div class="item-content">
                        <h3 class="item-title">100% Satisfaction</h3>
                        <p>At Galaxy Cleaning Services, we guarantee 100% satisfaction with every clean. If you're not completely happy, we’ll make it right—your comfort is our priority!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="why-choose-box-layout2">
                    <div class="item-icon">
                        <i class="fas fa-check"></i>
                    </div>
                    <div class="item-content">
                        <h3 class="item-title">Cost Effective</h3>
                        <p>Galaxy Cleaning Services offers cost-effective cleaning solutions without compromising on quality. Enjoy exceptional service that fits your budget and meets your cleaning needs!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Why Choose Area End Here -->
<!-- Team Area Start Here -->
<section class="section-padding-lg-5">
    <div class="container">
        <div class="heading-layout1">
            <h2>Our Working Experts</h2>
            <p>Meet the skilled professionals behind our success. Our experts bring 
                years of experience and dedication to ensure top-quality service</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
                <div class="team-box-layout1">
                    <div class="item-img">
                        <img src="../static/images/team1.png" alt="team-thumb">
                    </div>
                    <div class="item-content">
                        <h3 class="item-title"><a href="single-team.html">Richard Powel</a></h3>
                        <div class="item-subtitle">Office Cleaner</div>
                        <div class="item-social">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="team-box-layout1">
                    <div class="item-img">
                        <img src="../static/images/team2.png" alt="team-thumb">
                    </div>
                    <div class="item-content">
                        <h3 class="item-title"><a href="single-team.html">Merry Patel</a></h3>
                        <div class="item-subtitle">Kitchen Cleaner</div>
                        <div class="item-social">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12 d-block d-md-none d-lg-block">
                <div class="team-box-layout1">
                    <div class="item-img">
                        <img src="../static/images/team3.png" alt="team-thumb">
                    </div>
                    <div class="item-content">
                        <h3 class="item-title"><a href="single-team.html">Johnson Jack</a></h3>
                        <div class="item-subtitle">Floor Cleaner</div>
                        <div class="item-social">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Team Area End Here -->
<!-- Banner Area Start Here -->
<section class="banner-wrap-layout1" data-bg-image="../static/images/banner-bg.jpg">
    <div class="container">
        <div class="row d-flex justify-content-xl-end">
            <div class="col-xl-6 col-12">
                <div class="banner-box-layout1">
                    <h2 class="item-title">Together <span>We'll Explore</span> New Things</h2>
                    <a href="#" class="btn-fill-md bg-accent btn-slide-hover text-primarytext">Read More<i class="fas fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Area End Here -->
<!-- Process Area Start Here -->
<section class="section-padding-lg-2">
    <div class="container">
        <div class="heading-layout1">
            <h2>How It Works</h2>
            <p>At Galaxy Cleaning Services, we make the process of getting your space cleaned simple and hassle-free. Follow these three easy steps to experience our professional and personalized cleaning services tailored to meet your needs.</p>
        </div>
        <div class="row">
            <div class="col-lg-4 single-process">
                <div class="process-box-layout1">
                    <div class="item-bg">
                        <img src="../static/images/bubble5.png" alt="thumb">
                        <div class="item-icon">
                            <i class="far fa-calendar-check"></i>
                        </div>
                    </div>
                    <div class="item-content">
                        <h3 class="item-title">Contact Us to Book Our Services</h3>
                        <p>Reach out to us through our website, phone, or social media to schedule your cleaning service.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 single-process">
                <div class="process-box-layout1">
                    <div class="item-bg">
                        <img src="../static/images/bubble5.png" alt="thumb">
                        <div class="item-icon">
                            <i class="far fa-envelope"></i>
                        </div>
                    </div>
                    <div class="item-content">
                        <h3 class="item-title">Get Feedback From Us</h3>
                        <p>Once we've reviewed your request, we'll provide you with a customized cleaning plan and a transparent quote.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 single-process">
                <div class="process-box-layout1">
                    <div class="item-bg">
                        <img src="../static/images/bubble5.png" alt="thumb">
                        <div class="item-icon">
                            <i class="far fa-smile"></i>
                        </div>
                    </div>
                    <div class="item-content">
                        <h3 class="item-title">Let’s Enjoy</h3>
                        <p>Sit back and relax while our professional cleaners transform your space. We handle everything so you can enjoy a spotless environment.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Process Area End Here -->
<!-- Call To Action Area Start Here -->
<section class="action-wrap-layout1 bg-lightprimary">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-12">
                <div class="action-box-layout1">
                    <h2 class="item-title mb-0">Get started with your free estimate</h2>
                </div>
            </div>
            <div class="col-lg-5 col-12">
                <div class="action-box-layout1">
                    <div class="item-img">
                        <img src="../static/images/figure4.png" alt="img">
                    </div>
                    <a href="{{url_for('main.request_estimate')}}" class="btn-fill-md btn-slide-hover bg-accent text-primarytext">Get an Estimate<i class="fas fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Call To Action Area End Here -->

{% endblock %}