<!doctype html>
<html class="no-js" lang="">

{% block head%}
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
        {% block title %}
        Galaxy cleaning | Home 
        {% endblock %}
    </title>
    
    
    <meta name="description" content="{% block description %}Default description{% endblock %}">
    <meta name="keywords" content="{% block keywords %}Default, Keywords{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../static/images/favicon.png">
    <!-- Normalize CSS -->
    <link rel="stylesheet" href="../static/css/normalize.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="../static/css/main.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <!-- MeanMenu CSS -->
    <link rel="stylesheet" href="../static/css/meanmenu.min.css">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="../static/css/fontawesome-all.min.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="../static/css/animate.min.css">
    <!-- FlatIcon CSS -->
    <link rel="stylesheet" href="../static/css/font/flaticon.css">
    <!-- Nivo Slider CSS -->
    <link rel="stylesheet" href="../static/css/nivo-slider.css">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/css/owl.theme.default.min.css">
    <!-- Select 2 CSS -->
    <link rel="stylesheet" href="../static/css/select2.min.css">
    <!-- Datetime Picker CSS -->
    <link rel="stylesheet" href="../static/css/jquery.datetimepicker.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- Modernize js -->
    <script src="../static/js/modernizr-3.7.1.min.js"></script>
</head>
{% endblock %}

<body class="sticky-header">
    <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
      <![endif]-->
    <!-- ScrollUp Start Here -->
    <a href="#wrapper" data-type="section-switch" class="scrollup">
        <i class="fas fa-angle-double-up"></i>
    </a>
    <!-- ScrollUp End Here -->
    <!-- Preloader Starts here -->
    <div id="preloader"></div>
    <!-- Preloader End Here -->
    <div id="wrapper" class="wrapper">
        <!-- Add your site or application content here -->
        <!-- Header Area Start Here -->
        <header class="header">
            <div id="header-topbar" class="bg-Primary">
                <div class="container">
                    <div class="row d-flex align-items-center">
                        <div class="col-lg-6">
                            <div class="header-topbar-layout1">
                                <ul class="header-top-left">
                                    <li class="social-icon">
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="#"><i class="fab fa-google-plus-g"></i></a>
                                        <a href="#"><i class="fab fa-pinterest"></i></a>
                                        <a href="#"><i class="fab fa-snapchat-ghost"></i></a>
                                    </li>
                                    <li class="opening-hour"><i class="far fa-clock"></i>Mon -  Sat: 08.00am - 05.00 pm</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 d-flex justify-content-end">
                            <div class="header-topbar-layout1">
                                <div class="header-top-right">
                                    <a href="{{url_for('main.request_estimate')}}" class="header-top-btn"><i class="fas fa-bell"></i>Get A Quote</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="rt-sticky-placeholder"></div>
            <div id="header-menu" class="header-menu menu-layout1">
                <div class="container">
                    <div class="row d-flex align-items-center">
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo-area">
                                <a href="{{url_for('main.index')}}" class="temp-logo">
                                    <img src="../static/images/logo-dark.png" alt="logo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-7 d-flex justify-content-end position-static">
                            <nav id="dropdown" class="template-main-menu">
                                <ul>
                                   <li>
                                        <a href="{{url_for('main.index')}}">Home</a>
                                        <!-- <ul class="dropdown-menu-col-1">
                                            <li>
                                                <a href="index.html">Home Page 1</a>
                                            </li>
                                            <li>
                                                <a href="index2.html">Home Page 2</a>
                                            </li>
                                            <li>
                                                <a href="index3.html">Home Page 3</a>
                                            </li>
                                            <li>
                                                <a href="index4.html">Home Page 4</a>
                                            </li>
                                        </ul> -->
                                    </li>
                                    <li>
                                        <a href="{{url_for('main.about_page')}}">About</a>
                                        <!-- <ul class="dropdown-menu-col-1">
                                            <li>
                                                <a href="about1.html">About 1</a>
                                            </li>
                                            <li>
                                                <a href="about2.html">About 2</a>
                                            </li>
                                        </ul> -->
                                    </li>
                                    <li>
                                        <a href="{{url_for('main.services_page')}}">Services</a>
                                        <!-- <ul class="dropdown-menu-col-1">
                                            <li>
                                                <a href="{{url_for('main.services_page')}}">Services 1</a>
                                            </li>
                                            <li>
                                                <a href="service2.html">Services 2</a>
                                            </li>
                                            <li>
                                                <a href="single-service1.html">Single Services 1</a>
                                            </li>
                                            <li>
                                                <a href="single-service2.html">Single Services 2</a>
                                            </li>
                                        </ul> -->
                                    </li>
                                    <li>
                                        <a href="{{url_for('main.blog_page')}}">Blog</a>
                                        <!-- <ul class="dropdown-menu-col-1">
                                            <li>
                                                <a href="blog1.html">Blog 1</a>
                                            </li>
                                            <li>
                                                <a href="blog2.html">Blog 2</a>
                                            </li>
                                            <li>
                                                <a href="single-blog1.html">Blog Details</a>
                                            </li>
                                        </ul> -->
                                    </li>
                                    <li class="position-static hide-on-mobile-menu">
                                        <a href="{{url_for('main.projects_page')}}">Projects</a>
                                        <!-- <div class="template-mega-menu">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-3">
                                                        <div class="menu-ctg-title">Pages</div>
                                                        <ul class="sub-menu">
                                                            <li>
                                                                <a href="project1.html">
                                                                    <i class="fas fa-handshake"></i>Project</a>
                                                            </li>
                                                            <li>
                                                                <a href="single-project1.html">
                                                                    <i class="fas fa-handshake"></i>Project Details</a>
                                                            </li>
                                                            <li>
                                                                <a href="pricing-table.html">
                                                                    <i class="far fa-money-bill-alt"></i>Pricing Table</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-3">
                                                        <div class="menu-ctg-title">Pages</div>
                                                        <ul class="sub-menu">
                                                            <li>
                                                                <a href="team1.html">
                                                                    <i class="fas fa-user-tie"></i>Team 1</a>
                                                            </li>
                                                            <li>
                                                                <a href="team2.html">
                                                                    <i class="fas fa-user-tie"></i>Team 2</a>
                                                            </li>
                                                            <li>
                                                                <a href="single-team.html">
                                                                    <i class="fas fa-user-tie"></i>Single Team</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-3">
                                                        <div class="menu-ctg-title">Pages</div>
                                                        <ul class="sub-menu">
                                                            <li>
                                                                <a href="shop.html">
                                                                    <i class="fas fa-cart-plus"></i>Shop</a>
                                                            </li>
                                                            <li>
                                                                <a href="single-product.html">
                                                                    <i class="fas fa-cart-plus"></i>Product Details</a>
                                                            </li>
                                                            <li>
                                                                <a href="calculate-form.html">
                                                                    <i class="fas fa-calculator"></i>Calculation Form</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-3">
                                                        <div class="menu-ctg-title">Pages</div>
                                                        <ul class="sub-menu">
                                                            <li>
                                                                <a href="faq.html">
                                                                    <i class="fas fa-chalkboard-teacher"></i>Faq Page</a>
                                                            </li>
                                                            <li>
                                                                <a href="404.html">
                                                                    <i class="fas fa-exclamation-triangle"></i>404 Error</a>
                                                            </li>
                                                            <li>
                                                                <a href="coming-soon.html">
                                                                    <i class="fas fa-spinner"></i>Coming Soon</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> -->
                                    </li>
                                    <li class="hide-on-desktop-menu">
                                        <a href="{{url_for('main.projects_page')}}">Projects</a>
                                        <!-- <ul>
                                            <li>
                                                <a href="about1.html">About</a>
                                            </li>
                                            <li>
                                                <a href="service1.html">Services</a>
                                            </li>
                                            <li>
                                                <a href="project1.html">Project</a>
                                            </li>
                                            <li>
                                                <a href="404.html">404 Error</a>
                                            </li>
                                            <li>
                                                <a href="contact.html">Contact</a>
                                            </li>
                                        </ul> -->
                                    </li>
                                    <li>
                                        <a href="{{url_for('main.contact')}}">Contact</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-lg-3 d-flex justify-content-end">
                            <div class="header-action-layout1">
                                <ul>
                                    <li class="header-action-number">
                                        <div class="item-icon">
                                            <i class="flaticon-phone-call"></i>
                                        </div>
                                        <div class="item-content">
                                            <div class="item-title">Quick Contact :</div>
                                            <div class="item-number">+44 14 0022 2131
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}

                <div class="alert fade_{{category}} .fade"> <button aria-hidden="true" data-dismiss="alert" class="close" type="button">&times;</button> <strong>{{message}}</strong> </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <!-- Header Area End Here -->

        {% block content%}

        {% endblock %}

        <!-- Footer Area Start Here -->
        <footer class="footer-wrap-layout1 section-shape1">
            <div class="container">
                <div class="footer-top-box">
                    <div class="row">
                        <div class="col-lg-3 col-sm-6">
                            <div class="footer-box-layout1">
                                <div class="footer-title">
                                    <h4>FEATURES</h4>
                                </div>
                                <div class="footer-menu-box">
                                    <ul class="footer-menu-list">
                                        <li>
                                            <a href="{{url_for('main.residential')}}">Residential Services</a>
                                        </li>
                                        <li>
                                            <a href="{{url_for('main.commercial')}}">Commercial Services</a>
                                        </li>
                                        <li>
                                            <a href="{{url_for('main.car_wash')}}">Vechile Wash</a>
                                        </li>
                                        <li>
                                            <a href="{{url_for('main.custom_clean')}}">Custom cleaning</a>
                                        </li>
                                        <li>
                                            <a href="{{url_for('main.specialized')}}">Specialized Cleaning</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="footer-box-layout1">
                                <div class="footer-title">
                                    <h4>COMPANY</h4>
                                </div>
                                <div class="footer-menu-box">
                                    <ul class="footer-menu-list">
                                        <li>
                                            <a href="{{url_for('main.about_page')}}">About Us</a>
                                        </li>
                                        <!-- <li>
                                            <a href="#">Testimonials</a>
                                        </li> -->
                                        <li>
                                            <a href="{{url_for('main.terms_of_service')}}">Terms</a>
                                        </li>
                                        <!-- <li>
                                            <a href="#">Media Kit</a>
                                        </li> -->
                                        <li>
                                            <a href="{{url_for('main.contact')}}">Sitemap</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="footer-box-layout1">
                                <div class="footer-title">
                                    <h4>QUICK LINKS</h4>
                                </div>
                                <div class="footer-menu-box">
                                    <ul class="footer-menu-list">
                                        <li>
                                            <a href="#">Features</a>
                                        </li>
                                        <!-- <li>
                                            <a href="#">Pricing</a>
                                        </li>
                                        <li>
                                            <a href="#">Partners</a>
                                        </li>
                                        <li>
                                            <a href="#">Cloud Affiliate Program</a>
                                        </li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="footer-box-layout1">
                                <div class="footer-title">
                                    <h4>AFFILIATES</h4>
                                </div>
                                <div class="footer-menu-box">
                                    <ul class="footer-menu-list">
                                        <li>
                                            <a href="#">Coming Soon</a>
                                        </li>
                                        <!-- <li>
                                            <a href="#">Affiliate Portal</a>
                                        </li> -->
                                    </ul>
                                    <a href="{{url_for('main.contact')}}" class="contact-btn"><i class="far fa-envelope"></i>HAVE ANY QUESTION</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-middle-box">
                    <div class="row">
                        <div class="col-lg-5 col-12">
                            <div class="footer-newsletter">
                                <h3 class="item-title">Sign up for news and special offers</h3>
                                <form method="POST" action="{{url_for('main.subscribe_user')}}" >
                                    <div class="input-group stylish-input-group">
                                        <input type="text" name="sub_email" class="form-control" placeholder="Search Keywords ...">
                                        <span class="input-group-addon">
                                            <button type="submit">Submit</button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-7 col-12">
                            <div class="footer-social">
                                <h4 class="item-title">Follow Us On :</h4>
                                <ul class="social-icon">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                    <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                                    <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom-box">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="copyright">Copyright 2024 Galaxy Cleaning services. All Rights Reserved.</div>
                        </div>
                        <div class="col-md-6">
                            <div class="footer-bottom-menu">
                                <ul>
                                    <li><a href="{{url_for('main.contact')}}">Sitemap</a></li>
                                    <li><a href="{{url_for('main.terms_of_service')}}">Terms of Service</a></li>
                                    <li><a href="{{url_for('main.privacy')}}">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer Area End Here -->
    </div>
    <!-- jquery-->
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <!-- Plugins js -->
    <script src="../static/js/plugins.js"></script>
    <!-- Popper js -->
    <script src="../static/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="../static/js/bootstrap.min.js"></script>
    <!-- MeanMenu js -->
    <script src="../static/js/jquery.meanmenu.min.js"></script> 
    <!-- Nivo Slider js -->
    <script src="../static/js/jquery.nivo.slider.js"></script> 
    <script src="../static/js/home.js"></script> 
    <!-- Owl Carousel js --> 
    <script src="../static/js/owl.carousel.min.js"></script> 
    <!-- CounterUp js -->
    <script src="../static/js/jquery.counterup.min.js"></script> 
    <!-- WayPoints js -->
    <script src="../static/js/waypoints.min.js"></script> 
    <!-- Validator js -->
    <script src="../static/js/validator.min.js"></script>
    <!-- Select 2 js -->
    <script src="../static/js/select2.min.js"></script>
    <!-- Datetime Picker js -->
    <script src="../static/js/jquery.datetimepicker.full.min.js"></script>
    <!-- Main js -->
    <script src="../static/js/main.js"></script>
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback=initMap" async defer></script> -->

    <!-- <script>
        window.addEventListener('load', function() {
            document.getElementById('preloader').style.display = 'none';
            document.getElementById('wrapper').style.display = 'block';
        });
    </script> -->
</body>

</html>