{% extends 'base.html'%}

{% block title %}
Online Booking
{% endblock %}

{%block description%}
Galaxy Cleaning Services - Professional Cleaning Services in Oldham Lancashire Manchester. Discover our expert cleaners, eco-friendly products, and affordable rates. Contact us today!
{%endblock%}

{% block keywords %}
cleaning services,professional cleaning, commercial cleaning,residential cleaning,carpet cleaning,
upholstery cleaning,janitorial services,maid service,house cleaning,office cleaning, deep cleaning,eco-friendly cleaning,affordable cleaning,reliable cleaning, experienced cleaners, customized cleaning plans,
move-in/move-out cleaning, disinfection services,sanitization services
{% endblock %}

{% block content %}
<!-- Inne Page Banner Area Start Here -->
<section class="inner-page-banner bg-common" data-bg-image="../static/images/breadcumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs-area">
                    <h1>Request Estimate Form</h1>
                    <ul>
                        <li>
                            <a href="{{url_for('main.index')}}">Home</a>
                        </li>
                        <li>Request Form</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Inne Page Banner Area End Here -->
<!-- Booking Form Area Start Here -->
<section class="section-padding-12-9">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-6 col-12">
                <div class="about-box-layout1">
                    <h2 class="item-title">Our Goal is to Wow With Every Clean. Quick Calculate Your Desired Service</h2>
                    <div class="item-subtitle">Our cleaning company's mission is to create clean, healthy, and welcoming environments that enhance the quality of life for our clients, whether at home or in the workplace.</div>
                    <p>We are dedicated to delivering exceptional cleaning services with integrity, reliability, and attention to detail, ensuring every space we touch is spotless, safe, and cared for with the utmost respect.</p>
                    <div class="list-item">
                        <ul>
                            <li>
                                <h3>Customer Focused Reviews</h3>
                                <p>We prioritize honest feedback to ensure exceptional service and continuous improvement. Our reviews reflect trust, satisfaction, and our commitment to exceeding customer expectations every time.</p>
                            </li>
                            <li>
                                <h3>Sustainability</h3>
                                <p>We are dedicated to promoting a healthier planet by using eco-friendly cleaning products and sustainable practices that reduce our environmental footprint.</p>
                            </li>
                            <li>
                                <h3>Quality & Excellence</h3>
                                <p>We are committed to maintaining high standards of service through meticulous attention to detail, consistent performance, and the use of high-quality, eco-friendly products.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-lg-6 col-12">
                <div class="about-box-layout2">
                    <h3 class="item-title">Request An Estimate</h3>
                    <form class="contact-form-box" method="POST" action="">
                        <div class="row gutters-10">
                            {{ form.hidden_tag() }}
                    
                            <div class="col-12 form-group">
                                {{ form.cleaning_service(class="select2") }}
                                {% if form.cleaning_service.errors %}
                                    <div class="error-message">
                                        <button type="button" class="close-btn" onclick="this.parentElement.style.display='none';">×</button>
                                        {{ form.cleaning_service.errors[0] }}
                                    </div>
                                {% endif %}
                            </div>
                    
                            <div class="col-md-6 col-12 form-group">
                                {{ form.approx_sf(class="form-control", placeholder='property(SF/num)') }}
                                {% if form.approx_sf.errors %}
                                    <div class="error-message">
                                        <button type="button" class="close-btn" onclick="this.parentElement.style.display='none';">×</button>
                                        {{ form.approx_sf.errors[0] }}
                                    </div>
                                {% endif %}
                            </div>
                    
                            <div class="col-md-6 col-12 form-group">
                                {{ form.budget(class="form-control") }}
                                {% if form.budget.errors %}
                                    <div class="error-message">
                                        <button type="button" class="close-btn" onclick="this.parentElement.style.display='none';">×</button>
                                        {{ form.budget.errors[0] }}
                                    </div>
                                {% endif %}
                            </div>
                    
                            <div class="col-md-6 col-12 form-group">
                                {{ form.zip_code(class="form-control", placeholder="Postcode") }}
                                {% if form.zip_code.errors %}
                                    <div class="error-message">
                                        <button type="button" class="close-btn" onclick="this.parentElement.style.display='none';">×</button>
                                        {{ form.zip_code.errors[0] }}
                                    </div>
                                {% endif %}
                            </div>

                            <div class="col-md-6 col-12 form-group">
                                {{ form.pet_count(class="form-control", placeholder='no of pets') }}
                                {% if form.pet_count.errors %}
                                    <div class="error-message">
                                        <button type="button" class="close-btn" onclick="this.parentElement.style.display='none';">×</button>
                                        {{ form.pet_count.errors[0] }}
                                    </div>
                                {% endif %}
                            </div>                                                                                                       
                    
                            <div class="col-md-6 col-12 form-group datetime-picker">
                                {{ form.date(class="form-control", placeholder="dd/mm/yy") }}
                                {% if form.date.errors %}
                                    <div class="error-message">
                                        <button type="button" class="close-btn" onclick="this.parentElement.style.display='none';">×</button>
                                        {{ form.date.errors[0] }}
                                    </div>
                                {% endif %}
                            </div>
                    
                            <div class="col-md-6 col-12 form-group datetime-picker">
                                {{ form.time(class="form-control", placeholder="Time") }}
                                {% if form.time.errors %}
                                    <div class="error-message">
                                        <button type="button" class="close-btn" onclick="this.parentElement.style.display='none';">×</button>
                                        {{ form.time.errors[0] }}
                                    </div>
                                {% endif %}
                            </div>
                    
                            <div class="col-md-6 col-12 form-group">
                                {{ form.name(class="form-control", placeholder="Name") }}
                                {% if form.name.errors %}
                                    <div class="error-message">
                                        <button type="button" class="close-btn" onclick="this.parentElement.style.display='none';">×</button>
                                        {{ form.name.errors[0] }}
                                    </div>
                                {% endif %}
                            </div>
                    
                            <div class="col-md-6 col-12 form-group">
                                {{ form.phone(class="form-control", placeholder="Phone") }}
                                {% if form.phone.errors %}
                                    <div class="error-message">
                                        <button type="button" class="close-btn" onclick="this.parentElement.style.display='none';">×</button>
                                        {{ form.phone.errors[0] }}
                                    </div>
                                {% endif %}
                            </div>
                    
                            <div class="col-12 form-group">
                                {{ form.email(class="form-control", placeholder="E-mail Address") }}
                                {% if form.email.errors %}
                                    <div class="error-message">
                                        <button type="button" class="close-btn" onclick="this.parentElement.style.display='none';">×</button>
                                        {{ form.email.errors[0] }}
                                    </div>
                                {% endif %}
                            </div>
                    
                            <div class="col-12 form-group mg-b-20">
                                {{ form.address(class="form-control", placeholder="Address") }}
                                {% if form.address.errors %}
                                    <div class="error-message">
                                        <button type="button" class="close-btn" onclick="this.parentElement.style.display='none';">×</button>
                                        {{ form.address.errors[0] }}
                                    </div>
                                {% endif %}
                            </div>
                    
                            <div class="col-12 form-group mg-b-20">
                                {{ form.comments(class="form-control", placeholder="Comments") }}
                                {% if form.comments.errors %}
                                    <div class="error-message">
                                        <button type="button" class="close-btn" onclick="this.parentElement.style.display='none';">×</button>
                                        {{ form.comments.errors[0] }}
                                    </div>
                                {% endif %}
                            </div>
                    
                            <div class="col-12 form-group">
                                {{ form.submit(class="fw-btn-fill bg-accent text-primarytext") }}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Booking Form Area End Here -->
{% endblock %}