{% extends 'base.html'%}

{% block title %}
Online Booking
{% endblock %}

{% block content %}
<!-- Inne Page Banner Area Start Here -->
<section class="inner-page-banner bg-common" data-bg-image="img/figure/breadcumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs-area">
                    <h1>Online Booking Form</h1>
                    <ul>
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>Form</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Inne Page Banner Area End Here -->
<!-- Booking Form Area Start Here -->
<section class="section-padding-12-9">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-6 col-12">
                <div class="about-box-layout1">
                    <h2 class="item-title">Quick Calculate &amp; Book Your Desire Service</h2>
                    <div class="item-subtitle">There are many variations of passages of Lorem Ipsum available, 
                        but the majority have suffered alteration in some form.</div>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority 
                        have suffered alteration in some form, by injected humour, or randomised 
                        words which don't look even slightly believable. some form, by injected humour, 
                        some form, by injected humour.</p>
                    <div class="list-item">
                        <ul>
                            <li>
                                <h3>Customer Focused Reviews</h3>
                                <p>Aorem ipsum dolor sit amet consectetur adipisicing elit sed do
                                    eiusmod tempor incididunt ut labore et dolore.</p>
                            </li>
                            <li>
                                <h3>We Are Committed</h3>
                                <p>Aorem ipsum dolor sit amet consectetur adipisicing elit sed do
                                    eiusmod tempor incididunt ut labore et dolore.</p>
                            </li>
                            <li>
                                <h3>Regular &amp; Monthly Cleaning</h3>
                                <p>Aorem ipsum dolor sit amet consectetur adipisicing elit sed do
                                    eiusmod tempor incididunt ut labore et dolore.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-lg-6 col-12">
                <div class="about-box-layout2">
                    <h3 class="item-title">Request An Estimate</h3>
                    <form class="contact-form-box" id="contact-form">
                        <div class="row gutters-10">
                            <div class="col-12 form-group">
                                <select class="select2">
                                    <option value="0">Residential</option>
                                    <option value="1">Residential</option>
                                    <option value="2">Commercial</option>
                                    <option value="3">Plot</option>
                                    <option value="4">Apartment</option>
                                </select>
                            </div>
                            <div class="col-md-6 form-group">
                                <select class="select2">
                                    <option value="0">Property Type</option>
                                    <option value="1">Residential</option>
                                    <option value="2">Commercial</option>
                                    <option value="3">Plot</option>
                                    <option value="4">Apartment</option>
                                </select>
                            </div>
                            <div class="col-md-6 form-group">
                                <select class="select2">
                                    <option value="0">-- Approx SF --</option>
                                    <option value="1">400</option>
                                    <option value="2">200</option>
                                    <option value="3">600</option>
                                    <option value="4">300</option>
                                </select>
                            </div>
                            <div class="col-md-6 form-group">
                                <select class="select2">
                                    <option value="0">-- Bedrooms --</option>
                                    <option value="1">Residential</option>
                                    <option value="2">Commercial</option>
                                    <option value="3">Plot</option>
                                    <option value="4">Apartment</option>
                                </select>
                            </div>
                            <div class="col-md-6 form-group">
                                <select class="select2">
                                    <option value="0">-- Bathrooms --</option>
                                    <option value="1">Residential</option>
                                    <option value="2">Commercial</option>
                                    <option value="3">Plot</option>
                                    <option value="4">Apartment</option>
                                </select>
                            </div>
                            <div class="col-md-6 form-group">
                                <select class="select2">
                                    <option value="0">-- Frequency --</option>
                                    <option value="1">Residential</option>
                                    <option value="2">Commercial</option>
                                    <option value="3">Plot</option>
                                    <option value="4">Apartment</option>
                                </select>
                            </div>
                            <div class="col-md-6 col-12 form-group">
                                <input type="text" placeholder="ZIP Code" class="form-control" name="name" data-error="zip code field is required" required>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-md-6 form-group datetime-picker">
                                <i class="far fa-calendar-alt"></i>
                                <input type="text" class="form-control rt-date" placeholder="dd/mm/yy" name="date" id="form-date" data-error="Subject field is required" required/>
                            </div>
                            <div class="col-md-6 form-group datetime-picker">
                                <i class="far fa-clock"></i>
                                <input type="text" class="form-control rt-time" placeholder="Time" name="time" id="form-time" data-error="Subject field is required" required/>
                            </div>
                            <div class="col-md-6 col-12 form-group">
                                <input type="text" placeholder="Name" class="form-control" name="name" data-error="Name field is required" required>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-md-6 col-12 form-group">
                                <input type="text" placeholder="Phone" class="form-control" name="phone" data-error="Phone field is required" required>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-12 form-group">
                                <input type="email" placeholder="E-mail Address" class="form-control" name="email" data-error="email field is required" required>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-12 form-group mg-b-20">
                                <textarea placeholder="Address" class="textarea form-control" name="message" id="form-message" rows="2" cols="20" 
                                data-error="Message field is required" required></textarea>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-12 form-group">
                                <button type="submit" class="fw-btn-fill bg-accent text-primarytext">Book Now<i class="fas fa-angle-right"></i></button>
                            </div>
                        </div>
                        <div class="form-response"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Booking Form Area End Here -->
{% endblock %}