{% extends 'base.html'%}

{% block title %}
Online Booking
{% endblock %}

{% block content %}
<!-- Inne Page Banner Area Start Here -->
<section class="inner-page-banner bg-common" data-bg-image="../static/images/breadcumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs-area">
                    <h1>Request Estimate Form</h1>
                    <ul>
                        <li>
                            <a href="{{url_for('main.index')}}">Home</a>
                        </li>
                        <li>Request Form</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Inne Page Banner Area End Here -->
<!-- Booking Form Area Start Here -->
<section class="section-padding-12-9">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-6 col-12">
                <div class="about-box-layout1">
                    <h2 class="item-title">Our Goal is to Wow With Every Clean. Quick Calculate Your Desired Service</h2>
                    <div class="item-subtitle">Our cleaning company's mission is to create clean, healthy, and welcoming environments that enhance the quality of life for our clients, whether at home or in the workplace.</div>
                    <p>We are dedicated to delivering exceptional cleaning services with integrity, reliability, and attention to detail, ensuring every space we touch is spotless, safe, and cared for with the utmost respect.</p>
                    <div class="list-item">
                        <ul>
                            <li>
                                <h3>Customer Focused Reviews</h3>
                                <p>We prioritize honest feedback to ensure exceptional service and continuous improvement. Our reviews reflect trust, satisfaction, and our commitment to exceeding customer expectations every time.</p>
                            </li>
                            <li>
                                <h3>Sustainability</h3>
                                <p>We are dedicated to promoting a healthier planet by using eco-friendly cleaning products and sustainable practices that reduce our environmental footprint.</p>
                            </li>
                            <li>
                                <h3>Quality & Excellence</h3>
                                <p>We are committed to maintaining high standards of service through meticulous attention to detail, consistent performance, and the use of high-quality, eco-friendly products.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-lg-6 col-12">
                <div class="about-box-layout2">
                    <h3 class="item-title">Request An Estimate</h3>
                    <form class="contact-form-box" method="POST" action="">
                        <div class="row gutters-10">
                            {{ form.hidden_tag() }}
                            <div class="col-12 form-group">
                                {{ form.cleaning_service(class="select2") }}
                            </div>
                            <div class="col-md-6 col-12 form-group">
                                {{ form.property_type(class="select2") }}
                            </div>
                            <div class="col-md-6 col-12 form-group">
                                {{ form.approx_sf(class="select2") }}
                            </div>
                            <div class="col-md-6 col-12 form-group">
                                 {{ form.budget(class="form-control") }}
                            </div>
                            <div class="col-md-6 col-12 form-group">
                                 {{ form.zip_code(class="form-control", placeholder="ZIP Code") }}
                            </div>
                            <div class="col-md-6 col-12 form-group datetime-picker">
                                {{ form.date(class="form-control", placeholder="dd/mm/yy") }}
                            </div>
                            <div class="col-md-6 col-12 form-group datetime-picker">
                                {{ form.time(class="form-control", placeholder="Time") }}
                            </div>
                            <div class="col-md-6 col-12 form-group">
                                {{ form.name(class="form-control", placeholder="Name") }}
                            </div>
                            <div class="col-md-6 col-12 form-group">
                                {{ form.phone(class="form-control", placeholder="Phone") }}
                            </div>
                            <div class="col-12 form-group">
                                {{ form.email(class="form-control", placeholder="E-mail Address") }}
                            </div>
                            <div class="col-12 form-group mg-b-20">
                                {{ form.address(class="form-control", placeholder="Address") }}
                            </div>
                            <div class="col-12 form-group mg-b-20">
                                {{ form.comments(class="form-control", placeholder="Comments") }}
                            </div>
                            <div class="col-12 form-group">
                                {{ form.submit(class="fw-btn-fill bg-accent text-primarytext") }}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Booking Form Area End Here -->
{% endblock %}