{% extends 'base.html' %}

{% block title%}
Contact Us
{% endblock %}

{% block content %}
<!-- Inne Page Banner Area Start Here -->
<section class="inner-page-banner bg-common" data-bg-image="../static/images/breadcumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs-area">
                    <h1>Contact Us</h1>
                    <ul>
                        <li>
                            <a href="{{url_for('main.index')}}">Home</a>
                        </li>
                        <li>Contact</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Inne Page Banner Area End Here -->
<!-- Blog Area Start Here -->
<section class="section-padding-12-10">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="contact-box-layout1">
                    <div class="google-map-area">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2371.820018065663!2d-2.1153658897240524!3d53.52527117222632!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487bb77511c181df%3A0x5956381b46917564!2s29%20Brierley%20St%2C%20Oldham%20OL8%203DZ%2C%20UK!5e0!3m2!1sen!2sng!4v1726605162415!5m2!1sen!2sng" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        <!-- <div  class="google-map" style="width:100%; height:420px; border-radius: 4px;"></div> -->
                    </div>
                    <div class="contact-info">
                        <div class="media media-none-lg media-none--sm">
                            <div class="item-icon">
                                <i class="flaticon-call-answer"></i>
                            </div>
                            <div class="media-body space-md">
                                <h4>Phone:</h4>
                                <ul>
                                    <li>+44 14 0022 2131</li>
                                    <!-- <li>+8123 (456) 788 99</li> -->
                                </ul>
                            </div>
                        </div>
                        <div class="media media-none-lg media-none--sm">
                            <div class="item-icon">
                                <i class="flaticon-message"></i>
                            </div>
                            <div class="media-body space-md">
                                <h4>E-mail:</h4>
                                <ul>
                                    <li>info@roofing.com</li>
                                    <!-- <li>info@roofing.com</li> -->
                                </ul>
                            </div>
                        </div>
                        <div class="media media-none-lg media-none--sm">
                            <div class="item-icon">
                                <i class="flaticon-maps-and-flags"></i>
                            </div>
                            <div class="media-body space-md">
                                <h4>Location:</h4>
                                <ul>
                                    <li>House 29 Brierley Street, </li>
                                    <li>Oldham Lancashire Manchester 0L8 3DZ</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 sidebar-break-md sidebar-widget-area">
                <div class="widget widget-contact-form">
                    <div class="heading-layout4">
                        <h4>Have you Any Question?</h4>
                    </div>
                    <form class="contact-form-box" id="contact-form">
                        <div class="row">
                            <div class="col-12 form-group">
                                <div class="form-icon"><i class="fas fa-user"></i></div>
                                <input type="text" placeholder="Name" class="form-control" name="name" data-error="Name field is required" required>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-12 form-group">
                                <div class="form-icon"><i class="far fa-envelope"></i></div>
                                <input type="email" placeholder="E-mail Address" class="form-control" name="email" data-error="email field is required" required>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-12 form-group">
                                <div class="form-icon"><i class="fas fa-phone-volume"></i></div>
                                <input type="text" placeholder="Phone" class="form-control" name="phone" data-error="Phone field is required" required>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-12 form-group">
                                <div class="form-icon"><i class="fas fa-question"></i></div>
                                <input type="text" placeholder="Subject" class="form-control" name="phone" data-error="Phone field is required" required>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-12 form-group">
                                <div class="form-icon"><i class="far fa-comments"></i></div>
                                <textarea placeholder="Address" class="textarea form-control" name="message" id="form-message" rows="4" cols="20" 
                                data-error="Message field is required" required></textarea>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-12 form-group">
                                <button type="submit" class="fw-btn-fill bg-accent text-primarytext">Send Message</button>
                            </div>
                        </div>
                        <div class="form-response"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Area End Here -->
{% endblock %}