<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Clenix | Cleaning &amp; Servicing Html5 Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" href="img/favicon.png">
    <!-- Normalize CSS -->
    <link rel="stylesheet" href="css/normalize.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="css/main.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="css/animate.min.css">
    <!-- Font-awesome CSS-->
    <link rel="stylesheet" href="css/fontawesome-all.min.css">
    <!-- Flaticon CSS-->
    <link rel="stylesheet" href="fonts/flaticon.css">
    <!-- Owl carousel CSS -->
    <link rel="stylesheet" href="vendor/OwlCarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="vendor/OwlCarousel/owl.theme.default.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="style.css">
    <!-- Modernizr Js -->
    <script src="js/modernizr-3.7.1.min.js"></script>
</head>

<body class="sticky-header">
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- Add your site or application content here -->
    <!-- Preloader Start Here -->
    <div id="preloader"></div>
    <!-- Preloader End Here -->
    <!-- scrollUp Start Here -->
    <a href="#wrapper" data-type="section-switch" class="scrollUp">
        <i class="fas fa-angle-double-up"></i>
    </a>
    <!-- scrollUp End Here -->
    <div class="wrapper" id="wrapper">
        <header id="header-menu">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img src="img/logo.png" alt="logo">
                    </div>
                    <div class="col-6 d-none d-md-block">
                        <ul class="header-btn">
                            <li><a href="https://1.envato.market/Y3nQJ" class="fill-btn" target="_blank">Buy Now<i class="fas fa-angle-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <!-- Inner Page Banner Area Start Here -->
         <div class="preview-banner-area">
             <div class="big-img">
                 <img class="img-fluid animated-figure" src="img/banner/banner-img.png" alt="banner" data-parallax='{"x" : -50, "y" : 150}'>
             </div>
            <img class="img-fluid buuble-shape1" src="img/element/element1.png" alt="banner">
            <img class="img-fluid buuble-shape2" src="img/element/element.png" alt="banner">
            <div class="container">
                <div class="preview-banner-content">
                    <h1>Best Cleaning &amp; Servicing HTML Template <span>With RTL Version</span> </h1>
                    <ul class="build-with">
                        <li><img class="img-fluid" src="img/css.png" alt="build-with"></li>
                        <li><img class="img-fluid" src="img/html.png" alt="build-with"></li>
                        <li><img class="img-fluid" src="img/bootstrap.png" alt="build-with"></li>
                        <li><img class="img-fluid" src="img/less.png" alt="build-with"></li>
                    </ul>
                    <a href="https://1.envato.market/Y3nQJ" class="fill-btn" target="_blank">Buy Now<i class="fas fa-angle-right"></i></a>
                </div>
            </div>
        </div>
        <!-- Inner Page Banner Area End Here -->
        <!-- Main Body Area Start Here -->
        <div id="main-body" class="main-body-area position-relative">
            <div class="container">
                <div class="section-heading">
                    <div class="item-subtitle"> Awesome Demos</div>
                    <h2>Total 04 Home Page</h2>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-12">
                        <div class="product-box">
                            <div class="product-box-content">
                                <div>
                                    <a href="clenix/index.html">Home_1</a>
                                </div>
                            </div>
                            <div class="product-box-img">
                                <img src="img/product/home1.jpg" class="img-responsive" alt="theme">
                                <a class="view-icon" href="clenix/index.html"><i class="flaticon-add-1"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-12">
                        <div class="product-box">
                            <div class="product-box-content">
                                <div>
                                    <a href="clenix/index2.html">Home_2</a>
                                </div>
                            </div>
                            <div class="product-box-img">
                                <img src="img/product/home2.jpg" class="img-responsive" alt="theme">
                                <a class="view-icon" href="clenix/index2.html"><i class="flaticon-add-1"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-12">
                        <div class="product-box">
                            <div class="product-box-content">
                                <div>
                                    <a href="clenix/index3.html">Home_3</a>
                                </div>
                            </div>
                            <div class="product-box-img">
                                <img src="img/product/home3.jpg" class="img-responsive" alt="theme">
                                <a class="view-icon" href="clenix/index3.html"><i class="flaticon-add-1"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-12">
                        <div class="product-box">
                            <div class="product-box-content">
                                <div>
                                    <a href="clenix/index4.html">Home_4</a>
                                </div>
                            </div>
                            <div class="product-box-img">
                                <img src="img/product/home4.jpg" class="img-responsive" alt="theme">
                                <a class="view-icon" href="clenix/index4.html"><i class="flaticon-add-1"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-12">
                        <div class="product-box">
                            <div class="product-box-content rtl-version">
                                <div>
                                    <a href="clenix-rtl/index.html">RTL Version</a>
                                </div>
                            </div>
                            <div class="product-box-img">
                                <img src="img/product/rtl.jpg" class="img-responsive" alt="theme">
                                <a class="view-icon" href="clenix-rtl/index.html"><i class="flaticon-add-1"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Body Area End Here -->
       <!-- Responsive Area Start Here -->
       <div class="responsive-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-12">
                        <div class="item-content">
                            <h3><span>Responsive</span> Fully Mobile Friendly &amp; Responsive Design</h3>
                            <a href="https://1.envato.market/Y3nQJ" class="fill-btn" target="_blank">Buy Now<i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-7 col-12">
                        <img src="img/product/responsive.png" alt="banner">
                    </div>
                </div>
            </div>
        </div>
        <!-- Responsive Area End Here -->
        <!-- Inner Page Area Start Here -->
        <div class="inner-page-slider-wrap">
            <div class="section-heading">
                <div class="item-subtitle">Incredible</div>
                <h2>Eyecatching Inner Pages</h2>
            </div>
            <div class="rc-carousel nav-control-layout1" data-loop="true" data-items="7" data-margin="30"
                data-autoplay="true" data-autoplay-timeout="4000" data-smart-speed="5000" data-dots="false"
                data-nav="true" data-nav-speed="false" data-r-x-small="1" data-r-x-small-nav="true"
                data-r-x-small-dots="false" data-r-x-medium="2" data-r-x-medium-nav="true" data-r-x-medium-dots="false"
                data-r-small="2" data-r-small-nav="true" data-r-small-dots="false" data-r-medium="3"
                data-r-medium-nav="true" data-r-medium-dots="false" data-r-large="4" data-r-large-nav="true"
                data-r-large-dots="false" data-r-extra-large="5" data-r-extra-large-nav="true"
                data-r-extra-large-dots="false">
                <div class="slide-img">
                    <img src="img/product/inner1.png" alt="inner page">
                </div>
                <div class="slide-img">
                    <img src="img/product/inner2.png" alt="inner page">
                </div>
                <div class="slide-img">
                    <img src="img/product/inner3.png" alt="inner page">
                </div>
                <div class="slide-img">
                    <img src="img/product/inner4.png" alt="inner page">
                </div>
                <div class="slide-img">
                    <img src="img/product/inner5.png" alt="inner page">
                </div>
                <div class="slide-img">
                    <img src="img/product/inner4.png" alt="inner page">
                </div>
                <div class="slide-img">
                    <img src="img/product/inner5.png" alt="inner page">
                </div>
            </div>
        </div>
        <!-- Inner Page Area End Here -->
        <!-- Footer Area Start Here -->
        <footer>
            <div class="footer-area">
                <div class="container">
                    <div class="footer-logo">
                        <a href="#"><img src="img/logo-footer.png" class="img-responsive" alt="logo"></a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer Area End Here -->
    </div>
    <!-- jquery-->
    <script src="js/jquery-3.3.1.min.js"></script>
    <!-- Plugins js -->
    <script src="js/plugins.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Parallaxie Js -->
    <script src="js/jquery.parallax-scroll.js"></script>
    <!-- Owl carousel Js -->
    <script src="vendor/OwlCarousel/owl.carousel.min.js"></script>
    <!-- Custom Js -->
    <script src="js/main.js"></script>
</body>

</html>