{% extends 'base.html'%}

{% block title %}
Galaxy | Home 
{% endblock %}

{% block content %}




<!-- Slider Area Start Here -->
<div class="slider-area slider-layout1">
    <div class="bend niceties preview-1">
        <div id="ensign-nivoslider-4" class="slides">
            <img src="../static/images/slide1-1.png" alt="slider" title="#slider-direction-1" />
            <img src="../static/images/slide1-2.png" alt="slider" title="#slider-direction-2" />
            <img src="../static/images/slide1-3.png" alt="slider" title="#slider-direction-3" />
        </div>
        <div id="slider-direction-1" class="t-cn slider-direction">
            <div class="slider-content s-tb slide-1">
                <div class="text-left title-container s-tb-c">
                    <div class="container">
                        <div class="slider-sub-text">Your Premier Choice for Cleaning!  </div>
                        <h1 class="slider-big-text">Certified Company</h1>
                        <div class="slider-paragraph">As a certified cleaning company, we adhere to the highest industry standards, 
                            ensuring reliable, professional, and eco-friendly services for every project we undertake</div>
                        <div class="slider-btn-area">
                            <a href="{{url_for('main.services_page')}}" class="item-btn-fill">Take Our Service
                                <i class="fas fa-angle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="slider-direction-2" class="t-cn slider-direction">
            <div class="slider-content s-tb slide-2">
                <div class="text-left title-container s-tb-c">
                    <div class="container">
                        <div class="slider-sub-text">Unbeatable Cleaning at Its Best!</div>
                        <h1 class="slider-big-text">Trusted Professionals</h1>
                        <div class="slider-paragraph">Our team consists of skilled, experienced cleaners dedicated to delivering top-notch 
                            results while maintaining a high level of professionalism and attention to detail.</div>
                        <div class="slider-btn-area">
                            <a href="{{url_for('main.services_page')}}" class="item-btn-fill">Take Our Service
                                <i class="fas fa-angle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="slider-direction-3" class="t-cn slider-direction">
            <div class="slider-content s-tb slide-3">
                <div class="text-left title-container s-tb-c">
                    <div class="container">
                        <div class="slider-sub-text">Top-Quality Cleaning You Can Trust!</div>
                        <h1 class="slider-big-text">Satisfaction Guaranteed</h1>
                        <div class="slider-paragraph">We prioritize your satisfaction by offering customizable cleaning solutions 
                            and ensuring every job is completed to the highest standard, leaving your space spotless.</div>
                        <div class="slider-btn-area">
                            <a href="{{url_for('main.services_page')}}" class="item-btn-fill">Take Our Service
                                <i class="fas fa-angle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>
<!-- Slider Area End Here -->
<!-- About Us Area Start Here -->
<section class="section-bubble section-padding-md-2">
    <div class="container">
        <div class="row gutters-50 d-flex align-items-center">
            <div class="col-xl-7">
                <div class="about-box-layout3">
                    <div class="item-icon shape1">
                        <img src="../static/images/icons/icon-shape1.png" alt="shape">
                    </div>
                    <div class="item-icon shape2">
                        <img src="../static/images/icons/icon-shape2.png" alt="shape">
                    </div>
                    <div class="item-icon shape3">
                        <img src="../static/images/icons/icon-shape3.png" alt="shape">
                    </div>
                    <div class="item-icon shape4">
                        <img src="../static/images/icons/icon-shape4.png" alt="shape">
                    </div>
                    <div class="item-img">
                        <img src="../static/images/banner-figure.png" alt="img">
                    </div>
                </div>
            </div>
            <div class="col-xl-5">
                <div class="about-box-layout4">
                    <h2 class="item-title">Making Your House <span>As Good As New</span></h2>
                    <p>Our expert cleaning services restore your home to its original beauty. From deep cleaning carpets to polishing floors, 
                        we leave every surface spotless and refreshed.</p>
                    <div class="service-list">
                        <ul>
                            <li>Experienced Team</li>
                            <li>Keep the same cleaner for every visit</li>
                            <li>One-off, weekly or fortnightly visits</li>
                            <li>Book, manage &amp; pay online</li>
                        </ul>
                    </div>
                    <div class="action-area">
                        <a href="{{url_for('main.services_page')}}" class="btn-fill-sm bg-accent text-primarytext btn-slide-hover">Book a Service<i class="fas fa-angle-right"></i></a>
                        <div class="phone-number"><i class="flaticon-phone-call"></i>+44 14 0022 2131</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Us Area End Here -->
<!-- Service Area Start Here -->
<section class="section-padding-lg bg-common bg-aash" data-bg-image="../static/images/bg-shape1.png">
    <div class="container">
        <div class="heading-layout1">
            <h2>Cleaning Services</h2>
            <!-- <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium dol
                oremque laudantium, totam remeaque ipsa</p> -->
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
                <div class="service-box-layout1">
                    <div class="item-img">
                        <img src="../static/images/service.png" alt="Thumb">
                    </div>
                    <div class="item-middle-content">
                        <div class="item-icon">
                            <div class="home-icon">
                                <i class="fas fa-home"></i>
                            </div>
                        </div>
                    </div>
                    <div class="item-content">
                        <h3 class="item-title"><a href="{{url_for('main.residential',)}}">Residential</a></h3>
                        <div class="serivce-list">
                            <ul>
                                <li>Regular housekeeping</li>
                                <li>Deep cleaning</li>
                                <li>Move-in/move-out cleaning</li>
                                <li>Spring cleaning and seasonal cleaning</li>
                                <li>Post-renovation cleaning </li>
                                <li>construction cleaning</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="service-box-layout1">
                    <div class="item-img">
                        <img src="../static/images/service1.png" alt="Thumb">
                    </div>
                    <div class="item-middle-content">
                        <div class="item-icon">
                            <div class="home-icon">
                                <i class="far fa-building"></i>
                            </div>
                        </div>
                    </div>
                    <div class="item-content">
                        <h3 class="item-title"><a href="{{url_for('main.commercial')}}">Commercial</a></h3>
                        <div class="serivce-list">
                            <ul>
                                <li>Office cleaning</li>
                                <li>Retail and showroom cleaning</li>
                                <li>Medical facility cleaning</li>
                                <li>clinic cleaning</li>
                                <li>School and daycare cleaning</li>
                                <li>Restaurant cleaning</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-block d-md-none d-lg-block col-12">
                <div class="service-box-layout1">
                    <div class="item-img">
                        <img src="../static/images/service2.png" alt="Thumb">
                    </div>
                    <div class="item-middle-content">
                        <div class="item-icon">
                            <div class="home-icon">
                                    <i class="fas fa-car"></i>
                            </div>
                        </div>
                    </div>
                    <div class="item-content">
                        <h3 class="item-title"><a href="{{url_for('main.car_wash')}}">Vehicle Wash</a></h3>
                        <div class="serivce-list">
                            <ul>
                                <li>Exterior Hand Wash & Wax</li>
                                <li>Interior Vacuuming</li>
                                <li>Window Cleaning</li>
                                <li>Tire & Wheel Cleaning</li>
                                <li>Dashboard & Console Dusting</li>
                                <li>Seat Shampooing</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Service Area End Here -->
<!-- Call To Action Area Start Here -->
<section class="action-wrap-layout1">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="action-box-layout1">
                    <h2 class="item-title">Get started with your free estimate</h2>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="action-box-layout1">
                    <div class="item-img bottom-bubble">
                        <img src="../static/images/figure4.png" alt="img">
                    </div>
                    <a href="javascript:void(0);" onclick="document.getElementById('contact-form').scrollIntoView();" class="btn-fill-md hover-textprimary bg-accent text-primarytext">Get an Estimate<i class="fas fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Call To Action Area End Here -->
<!-- About Us Area Start Here -->
<section class="section-padding-md-2 section-bubble">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-6 col-12">
                <div class="about-box-layout1">
                    <h2 class="item-title">Our Goal is to Wow With Every Clean</h2>
                    <div class="item-subtitle">Our cleaning company's mission is to create clean, healthy, and welcoming environments that enhance the quality of life for our clients, whether at home or in the workplace.</div>
                    <p>We are dedicated to delivering exceptional cleaning services with integrity, reliability, and attention to detail, ensuring every space we touch is spotless, safe, and cared for with the utmost respect.</p>
                    <div class="list-item">
                        <ul>
                            <li>
                                <h3>Customer Focused Reviews</h3>
                                <p>We prioritize honest feedback to ensure exceptional service and continuous 
                                    improvement. Our reviews reflect trust, satisfaction, and our commitment to exceeding customer expectations every time.</p>
                            </li>
                            <li>
                                <h3>Sustainability</h3>
                                <p>We are dedicated to promoting a healthier planet by using eco-friendly cleaning products and sustainable practices that reduce our environmental footprint.</p>
                            </li>
                            <li>
                                <h3>Quality &amp; Excellence</h3>
                                <p>We are committed to maintaining high standards of service through meticulous attention to detail, consistent performance, and the use of high-quality, eco-friendly products.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-lg-6 col-12">
                <div class="about-box-layout2">

                    <h3 class="item-title">An Estimate</h3>
                    <form class="contact-form-box" method="POST" action="">
                        <div class="row gutters-10">
                            {{ form.hidden_tag() }}
                            <div class="col-12 form-group">
                                {{ form.cleaning_service(class="select2") }}
                            </div>
                            <div class="col-md-6 col-12 form-group">
                                {{ form.property_type(class="select2") }}
                            </div>
                            <div class="col-md-6 col-12 form-group">
                                {{ form.approx_sf(class="select2") }}
                            </div>
                            <div class="col-md-6 col-12 form-group">
                                 {{ form.budget(class="form-control") }}
                            </div>
                            <div class="col-md-6 col-12 form-group">
                                 {{ form.zip_code(class="form-control", placeholder="ZIP Code") }}
                            </div>
                            <div class="col-md-6 col-12 form-group datetime-picker">
                                {{ form.date(class="form-control", placeholder="dd/mm/yy") }}
                            </div>
                            <div class="col-md-6 col-12 form-group datetime-picker">
                                {{ form.time(class="form-control", placeholder="Time") }}
                            </div>
                            <div class="col-md-6 col-12 form-group">
                                {{ form.name(class="form-control", placeholder="Name") }}
                            </div>
                            <div class="col-md-6 col-12 form-group">
                                {{ form.phone(class="form-control", placeholder="Phone") }}
                            </div>
                            <div class="col-12 form-group">
                                {{ form.email(class="form-control", placeholder="E-mail Address") }}
                            </div>
                            <div class="col-12 form-group mg-b-20">
                                {{ form.address(class="form-control", placeholder="Address") }}
                            </div>
                            <div class="col-12 form-group mg-b-20">
                                {{ form.comments(class="form-control", placeholder="Comments") }}
                            </div>
                            <div class="col-12 form-group">
                                {{ form.submit(class="fw-btn-fill bg-accent text-primarytext") }}
                            </div>
                        </div>
                    </form>
                    <!-- <form class="contact-form-box">
                        <div class="row gutters-10">
                            <div class="col-12 form-group">
                                <select class="select2">
                                    <option value="0">Residential cleaning</option>
                                    <option value="1">Commercial cleaning</option>
                                    <option value="2">Custom cleaning</option>
                                    <option value="3">Green cleaning</option>
                                    <option value="4">Sanitization & Disinfection</option>
                                    <option value="4">Car Wash</option>
                                    <option value="4">Specilized Cleaning</option>          
                                </select>
                            </div>
                            <div class="col-md-6 col-12 form-group">
                                <select class="select2">
                                    <option value="0">Type</option>
                                    <option value="1">Apartment</option>
                                    <option value="2">Office Space</option>
                                    <option value="3">Car</option>
                                    <option value="4">Rugs</option>
                                    <option value="5">A particular Space</option>
                                    <option value="6">Other</option>
                                </select>
                            </div>
                            <div class="col-md-6 col-12 form-group">
                                <select class="select2">
                                    <option value="0">-- Approx SF --</option>
                                    <option value="1">400</option>
                                    <option value="2">200</option>
                                    <option value="3">600</option>
                                    <option value="4">300</option>
                                </select>
                            </div>
                            <div class="col-md-6 col-12 form-group">
                                <input type="text" placeholder="Budget" class="form-control" name="name" data-error="budget is required" required>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-md-6 col-12 form-group">
                                <input type="text" placeholder="ZIP Code" class="form-control" name="name" data-error="zip code field is required" required>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-md-6 col-12 form-group datetime-picker">
                                <i class="far fa-calendar-alt"></i>
                                <input type="text" class="form-control rt-date" placeholder="dd/mm/yy" name="date" id="form-date" data-error="Subject field is required" required/>
                            </div>
                            <div class="col-md-6 col-12 form-group datetime-picker">
                                <i class="far fa-clock"></i>
                                <input type="text" class="form-control rt-time" placeholder="Time" name="time" id="form-time" data-error="Subject field is required" required/>
                            </div>
                            <div class="col-md-6 col-12 form-group">
                                <input type="text" placeholder="Name" class="form-control" name="name" data-error="Name field is required" required>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-md-6 col-12 form-group">
                                <input type="text" placeholder="Phone" class="form-control" name="phone" data-error="Phone field is required" required>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-12 form-group">
                                <input type="email" placeholder="E-mail Address" class="form-control" name="email" data-error="email field is required" required>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-12 form-group mg-b-20">
                                <textarea placeholder="Address" class="textarea form-control" name="message" id="form-message" rows="2" cols="20" 
                                data-error="Message field is required" required></textarea>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-12 form-group mg-b-20">
                                <textarea placeholder="comments" class="textarea form-control" name="message" id="form-message" rows="2" cols="20" 
                                data-error="Message field is required" required></textarea>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-12 form-group">
                                <button type="submit" class="fw-btn-fill bg-accent text-primarytext">Book Now<i class="fas fa-angle-right"></i></button>
                            </div>
                        </div>
                        <div class="form-response"></div>
                    </form> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Us Area End Here -->
<!-- Banner Area Start Here -->
<section class="banner-wrap-layout1" data-bg-image="../static/images/banner-bg.jpg">
    <div class="container">
        <div class="row d-flex justify-content-end">
            <div class="col-xl-6 col-12">
                <div class="banner-box-layout1">
                    <h2 class="item-title">Together <span>We'll Explore</span> New Things</h2>
                    <a href="#" class="btn-fill-md btn-slide-hover bg-accent text-primarytext">Read More<i class="fas fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Area End Here -->
<!-- Pricing Table Area Start Here -->
<section class="section-padding-xl bg-Primary section-shape2">
    <div class="container">
        <div class="heading-layout1 mg-b-60">
            <h2 class="text-white">Affordable Pricing</h2>
            <p class="text-textprimary">Our goal is to provide exceptional service that fits your budget, ensuring value with every service.</p>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="pricing-box-layout1">
                    <div class="item-icon">
                        <i class="flaticon-clean"></i>
                    </div>
                    <h3 class="item-title">Basic</h3>
                    <div class="item-feature">
                        <ul>
                            <li><i class="fas fa-check"></i>Dusting and wiping surfaces</li>
                            <li><i class="fas fa-check"></i>Vacuuming floors and carpets</li>
                            <li><i class="fas fa-check"></i>Sweeping and mopping hard floors</li>
                            <li><i class="fas fa-check"></i>Emptying trash bins</li>
                            <li><i class="fas fa-check"></i>Cleaning mirrors and windows (interior)</li>
                            <li><i class="fas fa-check"></i>Basic kitchen cleaning (wipe countertops, sink, and exterior of appliances)</li>
                            <li><i class="fas fa-check"></i>Bathroom cleaning (toilet, sink, mirror, and shower)</li>
                        </ul>
                    </div>
                    <!-- <div class="item-price">
                        <div class="item-currency">$49</div>
                        <div class="item-duration">/per mo</div>
                    </div> -->
                    <a href="{{url_for('main.contact')}}" class="btn-fill-xl bg-accent text-primarytext">Contact Us</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="pricing-box-layout1">
                    <div class="popular-text">Popular Sale!</div>
                    <div class="item-icon popular-shape">
                        <i class="flaticon-mop"></i>
                    </div>
                    <h3 class="item-title">Standard</h3>
                    <div class="item-feature">
                        <ul>
                            <li><i class="fas fa-check"></i>Everything in the Basic Package, plus:</li>
                            <li><i class="fas fa-check"></i>Deep cleaning of kitchen</li>
                            <li><i class="fas fa-check"></i>Dusting of light fixtures, vents, and baseboards</li>
                            <li><i class="fas fa-check"></i>Cleaning and sanitizing inside of trash cans</li>
                            <li><i class="fas fa-check"></i>Spot cleaning walls and doors</li>
                            <li><i class="fas fa-check"></i>Disinfecting high-touch areas (light switches, door handles, etc.)</li>
                            <li><i class="fas fa-check"></i>Cleaning furniture and upholstery </li>  
                        </ul>
                    </div>
                    <!-- <div class="item-price">
                        <div class="item-currency">$99</div>
                        <div class="item-duration">/per mo</div>
                    </div> -->
                    <a href="{{url_for('main.contact')}}" class="btn-fill-xl bg-accent text-primarytext">Contact Us</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="pricing-box-layout1">
                    <div class="item-icon">
                        <i class="flaticon-clean-2"></i>
                    </div>
                    <h3 class="item-title">Premium</h3>
                    <div class="item-feature">
                        <ul>
                            <li><i class="fas fa-check"></i>Everything in the Standard Package, plus:</li>
                            <li><i class="fas fa-check"></i>Deep cleaning of appliances (oven, fridge, dishwasher)</li>
                            <li><i class="fas fa-check"></i>Carpet shampooing and floor polishing</li>
                            <li><i class="fas fa-check"></i>Window cleaning</li>
                            <li><i class="fas fa-check"></i>Organizing and decluttering</li>
                            <li><i class="fas fa-check"></i>Upholstery and fabric cleaning</li>
                            <li><i class="fas fa-check"></i>Grout and tile scrubbing </li>
                            <li><i class="fas fa-check"></i>Move-in/move-out cleaning </li>
                        </ul>
                    </div>
                    <!-- <div class="item-price">
                        <div class="item-currency">$199</div>
                        <div class="item-duration">/per mo</div>
                    </div> -->
                    <a href="{{url_for('main.contact')}}" class="btn-fill-xl bg-accent text-primarytext">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Pricing Table Area End Here -->
<!-- Team Area Start Here -->
<section class="section-padding-lg-3 section-bubble">
    <div class="container">
        <div class="heading-layout1">
            <h2><a href="#">Our Working Experts</a></h2>
            <p>Meet the skilled professionals behind our success. Our experts bring 
                years of experience and dedication to ensure top-quality service</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
                <div class="team-box-layout1">
                    <div class="item-img">
                        <img src="../static/images/team1.png" alt="team-thumb">
                    </div>
                    <div class="item-content">
                        <h3 class="item-title"><a href="#">James Thompson</a></h3>
                        <div class="item-subtitle">Office Cleaner</div>
                        <div class="item-social">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="team-box-layout1">
                    <div class="item-img">
                        <img src="../static/images/team2.png" alt="team-thumb">
                    </div>
                    <div class="item-content">
                        <h3 class="item-title"><a href="#">Emily Bennett</a></h3>
                        <div class="item-subtitle">Kitchen Cleaner</div>
                        <div class="item-social">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-block d-md-none d-lg-block col-12">
                <div class="team-box-layout1">
                    <div class="item-img">
                        <img src="../static/images/team3.png" alt="team-thumb">
                    </div>
                    <div class="item-content">
                        <h3 class="item-title"><a href="#">William Davies</a></h3>
                        <div class="item-subtitle">Floor Cleaner</div>
                        <div class="item-social">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Team Area End Here -->
<!-- Progress Area Start Here -->
<section class="progress-wrap-layout1 section-padding-12">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-8 col-12">
                <div class="progress-box-layout1">
                    <h2 class="item-title">All of our Specialists are Fully Trained</h2>
                    <div class="item-content">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="counter-item">
                                    <div class="counter count-number" data-num="250">250</div>
                                    <div class="count-title">Project Done</div>
                                    <div class="bg-icon"><i class="far fa-thumbs-up"></i></div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="counter-item">
                                    <div class="counter count-number" data-num="1900">1900</div>
                                    <div class="count-title">Happy Clients</div>
                                    <div class="bg-icon"><i class="far fa-smile"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- Progress Area End Here -->
<!-- Testimonial Area Start Here -->
<section class="section-padding-md-4 bg-Primary bg-common" data-bg-image="../static/images/bg-shape2.png">
    <div class="container">
        <div class="heading-layout2 mg-b-30">
            <h2 class="text-white">What Clients Say About Us<span>About Us</span></h2>
        </div>
        <div class="rc-carousel nav-control-layout1" data-loop="true" data-items="10" data-margin="30"
            data-autoplay="false" data-autoplay-timeout="3000" data-smart-speed="1000" data-dots="false"
            data-nav="true" data-nav-speed="false" data-r-x-small="1" data-r-x-small-nav="true"
            data-r-x-small-dots="false" data-r-x-medium="1" data-r-x-medium-nav="true" data-r-x-medium-dots="false"
            data-r-small="1" data-r-small-nav="true" data-r-small-dots="false" data-r-medium="2"
            data-r-medium-nav="true" data-r-medium-dots="false" data-r-large="3" data-r-large-nav="true"
            data-r-large-dots="false" data-r-extra-large="3" data-r-extra-large-nav="true"
            data-r-extra-large-dots="false">
            <div class="testimonial-box-layout1">
                <p>I couldn’t be happier with the service! The team was punctual, professional, 
                    and left my home spotless. They paid attention to every detail and used 
                    eco-friendly products, which I loved. Highly recommend for anyone looking 
                    for a reliable cleaning company! </p>
                <h3 class="item-title">Stacy Campbell</h3>
                <div class="item-subtitle">Surgeon</div>
                <ul class="item-rating">
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                </ul>
                <div class="item-quote"><i class="fas fa-quote-right"></i></div>
            </div>
            <div class="testimonial-box-layout1">
                <p>Exceptional service! I hired them for a deep clean before moving 
                    into my new home, and they exceeded my expectations. The team was 
                    thorough and efficient, and the house looked brand new when they 
                    were done. I’ll definitely be using them again! </p>
                <h3 class="item-title">Mike Partsy</h3>
                <div class="item-subtitle">Software Engineer</div>
                <ul class="item-rating">
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                </ul>
                <div class="item-quote"><i class="fas fa-quote-right"></i></div>
            </div>
            <div class="testimonial-box-layout1">
                <p>Great experience from start to finish. The cleaners were friendly, 
                    hardworking, and left my office looking immaculate. I appreciate 
                    their attention to detail and commitment to using sustainable 
                    cleaning products. A trustworthy company that I’ll be recommending 
                    to others.</p>
                <h3 class="item-title">Charlie Wilson</h3>
                <div class="item-subtitle">Designer</div>
                <ul class="item-rating">
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                </ul>
                <div class="item-quote"><i class="fas fa-quote-right"></i></div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial Area End Here -->
<!-- Blog Area Start Here -->
<section class="section-padding-lg-4 section-bubble">
    <div class="container">
        <div class="heading-layout1">
            <h2> Our Latest Blogs</h2>
            <p>Stay updated with our latest blog posts! Find recent updates, expert insights, and helpful tips on trends and how-tos.</p>
        </div>
        <div class="row">
            {% for recent_post in recent_posts%}
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="blog-box-layout1">
                        <div class="item-img">
                            <a href="{{url_for('main.blog_detail', token=recent_post['token'])}}"><img src="../static/images/{{recent_post['post'].image_url}}" alt="blog-thumb"></a>
                        </div>
                        <div class="item-content">
                            <div class="item-date"><i class="fas fa-calendar-alt"></i>{{recent_post['post'].timestamp.strftime('%B %d, %Y, %I:%M %p')}}</div>
                            <h3 class="item-title"><a href="{{url_for('main.blog_detail', token=recent_post['token'])}}">{{recent_post['post'].title}}</a></h3>
                            <div class="item-author">{{recent_post['post'].author}}</div>
                            <p>{{recent_post['post'].body | truncate_body(5)|safe}}</p>
                            <div class="entry-meta">
                                <!-- <ul>
                                    <li><i class="fas fa-heart"></i><span>06</span> Likes</li>
                                    <li><i class="fas fa-comment"></i><span>02</span> <a href="#">Comments</a></li>
                                </ul> -->
                            </div>
                        </div>
                    </div>
                </div>
            {%endfor%}
            <!-- <div class="col-lg-4 col-md-6 col-12">
                <div class="blog-box-layout1">
                    <div class="item-img">
                        <a href="single-blog1.html"><img src="../static/images/blog2.jpg" alt="blog-thumb"></a>
                    </div>
                    <div class="item-content">
                        <div class="item-date"><i class="fas fa-calendar-alt"></i>24 July, 2019</div>
                        <h3 class="item-title"><a href="single-blog1.html">What is Best domin Name For Business</a></h3>
                        <div class="item-author">By Mark Wily</div>
                        <p>Aimply dummy text of the printing anden type setting industrym Ipsum has 
                            been the industry's standard.</p>
                        <div class="entry-meta">
                            <ul>
                                <li><i class="fas fa-heart"></i><span>06</span> Likes</li>
                                <li><i class="fas fa-comment"></i><span>02</span> <a href="#">Comments</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-block d-md-none d-lg-block col-12">
                <div class="blog-box-layout1">
                    <div class="item-img">
                        <a href="single-blog1.html"><img src="../static/images/blog3.jpg" alt="blog-thumb"></a>
                    </div>
                    <div class="item-content">
                        <div class="item-date"><i class="fas fa-calendar-alt"></i>24 July, 2019</div>
                        <h3 class="item-title"><a href="single-blog1.html">What is Best domin Name For Business</a></h3>
                        <div class="item-author">By Mark Wily</div>
                        <p>Aimply dummy text of the printing anden type setting industrym Ipsum has 
                            been the industry's standard.</p>
                        <div class="entry-meta">
                            <ul>
                                <li><i class="fas fa-heart"></i><span>06</span> Likes</li>
                                <li><i class="fas fa-comment"></i><span>02</span> <a href="#">Comments</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>
<!-- Blog Area End Here -->
{% endblock %}