{% extends 'base.html' %}

{% block title %}
Pricing
{% endblock %}

{% block content %}
<!-- Inne Page Banner Area Start Here -->
<section class="inner-page-banner bg-common" data-bg-image="img/figure/breadcumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs-area">
                    <h1>Afordable Pricing Plan</h1>
                    <ul>
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>Pricing</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Inne Page Banner Area End Here -->
<!-- Pricing Table Area Start Here -->
<section class="section-padding-12-9">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="pricing-box-layout1 border-aash light-hover">
                    <div class="item-icon">
                        <i class="flaticon-clean"></i>
                    </div>
                    <h3 class="item-title">Basic</h3>
                    <div class="item-feature">
                        <ul>
                            <li><i class="fas fa-check"></i>Surfaces Hand Wiped</li>
                            <li><i class="fas fa-check"></i>Floors Cleaned</li>
                            <li><i class="fas fa-check"></i>General Dusting</li>
                            <li><i class="fas fa-check"></i>Cobwebs Removed</li>
                            <li><i class="fas fa-check"></i>Doors Cleaned</li>
                        </ul>
                    </div>
                    <div class="item-price">
                        <div class="item-currency">$49</div>
                        <div class="item-duration">/per mo</div>
                    </div>
                    <a href="#" class="btn-fill-xl bg-accent text-primarytext">Get It Now</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="pricing-box-layout1 border-aash light-hover">
                    <div class="popular-text">Popular Sale!</div>
                    <div class="item-icon popular-shape">
                        <i class="flaticon-mop"></i>
                    </div>
                    <h3 class="item-title">Standard</h3>
                    <div class="item-feature">
                        <ul>
                            <li><i class="fas fa-check"></i>Surfaces Hand Wiped</li>
                            <li><i class="fas fa-check"></i>Floors Cleaned</li>
                            <li><i class="fas fa-check"></i>General Dusting</li>
                            <li><i class="fas fa-check"></i>Cobwebs Removed</li>
                            <li><i class="fas fa-check"></i>Doors Cleaned</li>
                        </ul>
                    </div>
                    <div class="item-price">
                        <div class="item-currency">$99</div>
                        <div class="item-duration">/per mo</div>
                    </div>
                    <a href="#" class="btn-fill-xl bg-accent text-primarytext">Get It Now</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="pricing-box-layout1 border-aash light-hover">
                    <div class="item-icon">
                        <i class="flaticon-clean-2"></i>
                    </div>
                    <h3 class="item-title">Premium</h3>
                    <div class="item-feature">
                        <ul>
                            <li><i class="fas fa-check"></i>Surfaces Hand Wiped</li>
                            <li><i class="fas fa-check"></i>Floors Cleaned</li>
                            <li><i class="fas fa-check"></i>General Dusting</li>
                            <li><i class="fas fa-check"></i>Cobwebs Removed</li>
                            <li><i class="fas fa-check"></i>Doors Cleaned</li>
                        </ul>
                    </div>
                    <div class="item-price">
                        <div class="item-currency">$199</div>
                        <div class="item-duration">/per mo</div>
                    </div>
                    <a href="#" class="btn-fill-xl bg-accent text-primarytext">Get It Now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Pricing Table Area End Here -->
<!-- Banner Area Start Here -->
<section class="banner-wrap-layout2 bg-common" data-bg-image="img/figure/banner-bg1.jpg">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-lg-6 col-12">
                <div class="banner-box-layout4">
                    <h2 class="item-title text-Primary">Together <span>We'll Explore</span> New Things</h2>
                    <a href="#" class="btn-fill-md bg-accent btn-slide-hover text-primarytext">Book an Appointment<i class="fas fa-angle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="banner-box-layout5">
                <div class="item-icon shape1">
                        <img src="img/figure/icon-shape4.png" alt="shape">
                    </div>
                    <div class="item-icon shape2">
                        <img src="img/figure/icon-shape3.png" alt="shape">
                    </div>
                    <div class="item-icon shape3">
                        <img src="img/figure/icon-shape2.png" alt="shape">
                    </div>
                    <div class="item-icon shape4">
                        <img src="img/figure/icon-shape1.png" alt="shape">
                    </div>
                    <div class="item-img">
                        <img src="img/figure/banner-figure.png" alt="figure">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Area End Here -->
(% endblock %)