{% extends 'base.html'%}

{% block title %}
privacy policy
{% endblock %}

{% block content%}
<section class="inner-page-banner bg-common" data-bg-image="../static/images/breadcumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs-area">
                    <h1>Privacy Policy</h1>
                    <h3>Your Data, Our Commitment to Transparency and Security</h3>
                    <ul>
                        <li>
                            <a href="{{url_for('main.index')}}">Home</a>
                        </li>
                        <li>Policy</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Inne Page Banner Area End Here -->
<!-- Team Area Start Here -->
<section class="section-padding-12 bg-dark-lg">
    <div class="container">
        <div class="col-lg-12">
                <h1>Privacy Policy</h1>
    
                <p>At <strong>Galaxy Cleaning Services</strong>, we value your privacy and are committed to protecting your personal information. This Privacy Policy outlines how we collect, use, and safeguard your data.</p>
                
                <h2>1. Information We Collect:</h2>
                <p>We may collect personal information such as your name, address, phone number, email address, and payment details when you book our services. We may also collect information regarding your preferences or special requests related to our cleaning services.</p>
                
                <h2>2. Use of Information:</h2>
                <p>We use your information to provide, manage, and improve our cleaning services, process payments, communicate with you about appointments, and respond to inquiries. We may also use your information to send promotional offers or updates about our services, which you can opt out of at any time.</p>
                
                <h2>3. Information Sharing:</h2>
                <p>We do not sell or share your personal information with third parties, except as necessary to deliver our services (e.g., payment processing) or as required by law.</p>
                
                <h2>4. Data Security:</h2>
                <p>We take reasonable steps to protect your personal information from unauthorized access, alteration, or disclosure.</p>
                
                <h2>5. Your Rights:</h2>
                <p>You have the right to access, correct, or delete your personal information. Contact us at <a href="mailto:info@galaxycleaning.com">info@galaxycleaning.com</a> for any requests or concerns.</p>

                <p>By using our services, you agree to this Privacy Policy. We may update this policy occasionally and will notify you of any significant changes.</p>
                    </div>
                </div>
                        </div>
                    </div>
                </div>
</section>
{%endblock %}