{% extends 'base.html' %}

{% block title %}
Projects
{% endblock %}

{% block content %}
<!-- Inne Page Banner Area Start Here -->
<section class="inner-page-banner bg-common" data-bg-image="../static/images/breadcumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs-area">
                    <h1>Our Latest Projects</h1>
                    <ul>
                        <li>
                            <a href="{{url_for('main.index')}}">Home</a>
                        </li>
                        <li>Projects</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Inne Page Banner Area End Here -->
<!-- Projects Area Start Here -->
<section class="section-padding-md-3">
    <div class="container">
        <div class="heading-layout2">
            <h2>We Have Done Many Projects<span>Let’s See Our Works</span></h2>
        </div>
        <div class="row">
            {% for project in projects %}
                <div class="col-lg-4 col-md-6">
                    
                    <div class="project-box-layout1">
                        <div class="item-img">
                            <img src="../static/images/project1.png" alt="project-thumb">
                            <a href="single-project1.html" class="hover-dot">
                                <span></span>
                                <span></span>
                                <span></span>
                            </a>
                        </div>
                        <div class="item-content">
                            <h3 class="item-title"><a href="{{url_for('main.project_detail', token=project['token'])}}">{{project['project'].title}}</a></h3>
                            <div class="item-tag">
                                <!-- <a href="#">Office,</a>
                                <a href="#">Home</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <!-- <div class="col-lg-4 col-md-6">
                <div class="project-box-layout1">
                    <div class="item-img">
                        <img src="../static/images/project2.jpg" alt="project-thumb">
                        <a href="single-project1.html" class="hover-dot">
                            <span></span>
                            <span></span>
                            <span></span>
                        </a>
                    </div>
                    <div class="item-content">
                        <h3 class="item-title"><a href="single-project1.html">Office Cleaning</a></h3>
                        <div class="item-tag">
                            <a href="#">Office,</a>
                            <a href="#">Home</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="project-box-layout1">
                    <div class="item-img">
                        <img src="../static/images/project3.jpg" alt="project-thumb">
                        <a href="single-project1.html" class="hover-dot">
                            <span></span>
                            <span></span>
                            <span></span>
                        </a>
                    </div>
                    <div class="item-content">
                        <h3 class="item-title"><a href="single-project1.html">Floor Cleaning</a></h3>
                        <div class="item-tag">
                            <a href="#">Office,</a>
                            <a href="#">Home</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="project-box-layout1">
                    <div class="item-img">
                        <img src="../static/images/project4.jpg" alt="project-thumb">
                        <a href="single-project1.html" class="hover-dot">
                            <span></span>
                            <span></span>
                            <span></span>
                        </a>
                    </div>
                    <div class="item-content">
                        <h3 class="item-title"><a href="single-project1.html">Bedroom Cleaning</a></h3>
                        <div class="item-tag">
                            <a href="#">Office,</a>
                            <a href="#">Home</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="project-box-layout1">
                    <div class="item-img">
                        <img src="../static/images/project5.jpg" alt="project-thumb">
                        <a href="single-project1.html" class="hover-dot">
                            <span></span>
                            <span></span>
                            <span></span>
                        </a>
                    </div>
                    <div class="item-content">
                        <h3 class="item-title"><a href="single-project1.html">Kitchen</a></h3>
                        <div class="item-tag">
                            <a href="#">Office,</a>
                            <a href="#">Home</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="project-box-layout1">
                    <div class="item-img">
                        <img src="../static/images/project6.jpg" alt="project-thumb">
                        <a href="single-project1.html" class="hover-dot">
                            <span></span>
                            <span></span>
                            <span></span>
                        </a>
                    </div>
                    <div class="item-content">
                        <h3 class="item-title"><a href="single-project1.html">Car Wash</a></h3>
                        <div class="item-tag">
                            <a href="#">Office,</a>
                            <a href="#">Home</a>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>
<!-- Projects Area End Here -->
{% endblock %}