{% extends 'base.html' %}

{% block title %}
Staff Recruitment Service
{% endblock %}

{%block description%}
Elevate Your Cleaning Business with Our Expert Training
Looking to enhance your cleaning team's skills and knowledge? Galaxy Cleaning Services offers comprehensive training programs designed to empower your workforce. Partner with us to elevate your cleaning services and achieve exceptional results.
{%endblock%}

{% block keywords %}
cleaning staff training,cleaning training programs,cleaning staff recruitment,cleaning staff development,cleaning staff certification,
cleaning industry training,cleaning workforce development,cleaning staff education,cleaning staff upskilling,cleaning staff reskilling,
cleaning staff recruitment and training,cleaning staff management,cleaning staff supervision,cleaning staff productivity,cleaning staff quality control
{% endblock %}

{% block content %}
        <!-- Inne Page Banner Area Start Here -->
        <section class="inner-page-banner bg-common" data-bg-image="../static/images/breadcumb.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumbs-area">
                            <h1>Staff Recruitment & Training</h1>
                            <ul>
                                <li>
                                    <a href="{{url_for('main.index')}}">Home</a>
                                </li>
                                <li>
                                    <a href="{{url_for('main.services_page')}}">Services</a>
                                </li>
                                <li>Recruitment</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Inne Page Banner Area End Here -->
        <!-- Single Service Area Start Here -->
        <section class="section-padding-12">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 order-lg-2">
                        <div class="single-service-box-layout1">
                            <h2 class="service-title">Staff Recruitment & Training </h2>
                            <p>At Galaxy cleaning Services, we specialize in recruiting top-tier cleaning 
                                professionals for large organizations that require reliable, skilled staff 
                                to maintain high standards of cleanliness. Our recruitment process ensures 
                                you get the right candidates for your unique needs, whether you manage a 
                                corporate facility, hotel, healthcare institution, or any other 
                                large-scale environment.</p>
                            <div class="main-img">
                                <img src="../static/images/recruitment.jpg" alt="Commercial Cleaning">
                            </div>
                            <div class="service-content">
                                <h3 class="item-title">Why Choose Our Recruitment Services?</h3>
                                <p>
                                    <ol>
                                        <li><b>Industry Expertise:</b> With years of experience in the cleaning industry, we understand what it takes to find the best talent for demanding cleaning roles.</li>
                                        <li><b>Tailored Recruitment Process:</b> We customize our recruitment approach to meet the specific needs of each client, ensuring we source candidates that are a perfect fit.</li>
                                        <li><b>Comprehensive Vetting:</b> All our candidates undergo a thorough vetting process, including background checks, reference verification, and skill assessments.</li>
                                        <li><b>Ongoing Support:</b> Beyond recruitment, we provide continuous support to ensure the seamless integration of new staff into your team.</li>
                                    </ol>
                            
                                </p>
                                <div class="why-choose">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="media">
                                                <div class="item-icon">
                                                    <i class="far fa-check-circle"></i>
                                                </div>
                                                <div class="media-body space-md">
                                                    <h3 class="item-title"> Our Recruitment Process</h3>
                                                    <p>
                                                        <ol>
                                                            <li>Understanding Your Needs</li>
                                                            <li>Sourcing the Best Talent</li>
                                                            <li>Screening and Interviews</li>
                                                            <li>Training and Onboarding</li>
                                                        </ol>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="media">
                                                <div class="item-icon">
                                                    <i class="far fa-check-circle"></i>
                                                </div>
                                                <div class="media-body space-md">
                                                    <h3 class="item-title">Types of Workers We Recruit</h3>
                                                    <p>
                                                        <ol>
                                                            <li>Janitorial Staff</li>
                                                            <li>Specialized Cleaners</li>
                                                            <li>Supervisory Roles</li>
                                                            <li>Temporary or Permanent Staff</li>
                                                        </ol>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p>
                                    <h3 class="item-title">Ongoing Training and Development</h3>
                                    We believe in continuous improvement, which is why we offer ongoing training 
                                    and development programs for all the staff we recruit. This ensures they stay 
                                    up to date with the latest cleaning techniques and safety protocols.
                                </p>
                                <div class="service-more-content">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="item-img">
                                                <img src="../static/images/recruitment1.jpg" alt="thumb">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="item-content">
                                                <h3 class="item-title">Industries We Serve</h3>
                                                <p>We cater to a wide range of industries, ensuring that organizations 
                                                    in various sectors can maintain a clean and professional environment.
                                                <ul class="item-feature">
                                                    <li>Corporate Offices</li>
                                                    <li>Healthcare Facilities</li>
                                                    <li>Hospitality and Hotels</li>
                                                    <li>Educational Institutions</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="service-faq">
                                    <h3 class="item-title">Frequently Asked Questions</h3>
                                    <p>At Galaxy Cleaning Services, we know you may have some questions about our 
                                        cleaning services. To make things easier for you, we've put together a list 
                                        of frequently asked questions. From our equipment and scheduling to customized 
                                        services, you'll find all the answers you're looking for right here!</p>
                                    <div class="faq-box">
                                        <div id="accordion" class="accordion">
                                            <div class="card">
                                                <div class="card-header" id="headingOne">
                                                    <h5 class="heading-title" data-toggle="collapse" data-target="#collapseOne" 
                                                        aria-expanded="true" aria-controls="collapseOne">Can you help us recruit staff for short-term contracts or seasonal work?
                                                    </h5>
                                                </div>
                                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                                    <div class="card-body">
                                                        Yes, we can provide both temporary and permanent staffing solutions. 
                                                        If your organization requires cleaning staff for short-term projects 
                                                        or seasonal demand, we can recruit qualified candidates to meet your 
                                                        specific timeline and needs.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header" id="headingTwo">
                                                    <h5 class="heading-title collapsed" data-toggle="collapse" data-target="#collapseTwo" 
                                                    aria-expanded="false" aria-controls="collapseTwo">Do you provide background checks for the recruited staff?</h5>
                                                </div>
                                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                                    <div class="card-body">
                                                        Yes, we conduct thorough background checks for all candidates as part of our recruitment process. 
                                                        This includes identity verification, reference checks, and any other required screenings based on 
                                                        your organization’s policies.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header" id="headingThree">
                                                    <h5 class="heading-title collapsed" data-toggle="collapse" data-target="#collapseThree" 
                                                        aria-expanded="false" aria-controls="collapseThree">How do you match candidates to our specific needs?</h5>
                                                </div>
                                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                                    <div class="card-body">
                                                        We take the time to understand your organization's cleaning requirements, the skills and experience level you need, 
                                                        and the type of environment in which your staff will work. Using this information, we carefully screen and match 
                                                        candidates who are best suited for the job.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header" id="headingFour">
                                                    <h5 class="heading-title collapsed" data-toggle="collapse" data-target="#collapseFour" 
                                                        aria-expanded="false" aria-controls="collapseFour">Do you recruit cleaning staff for small businesses or only large organizations?</h5>
                                                </div>
                                                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                                                    <div class="card-body">
                                                        While we specialize in providing cleaning staff for large organizations, 
                                                        we also recruit for small and medium-sized businesses. Whether you need 
                                                        one cleaner or an entire team, we can help you find the right personnel for your needs.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 order-lg-1 sidebar-break-md sidebar-widget-area">
                        <div class="widget widget-service-info">
                            <div class="heading-layout4">
                                <h4>for Recruitment Services</h4>
                            </div>
                            <div class="service-info">
                                <ul>
                                    <li class="active">
                                        <div class="service-price">Contact us Today</div>
                                    </li>
                                    <!-- <li>
                                        <div class="item-title">Cleaning Hours</div>
                                        <div class="item-subtitle">Calculated per size of work</div>
                                    </li>
                                    <li>
                                        <div class="item-title">Number of Cleaners</div>
                                        <div class="item-subtitle">Calculated per size of work</div>
                                    </li> -->
                                    <li>
                                        <div class="item-title">Visiting Hours</div>
                                        <div class="item-subtitle">08.00am - 05.00pm</div>
                                    </li>
                                    <li>
                                        <div class="item-title">Contact</div>
                                        <div class="item-subtitle">+44 14 0022 2131</div>
                                    </li>
                                    <li>
                                        <div class="item-title">E-mail</div>
                                        <div class="item-subtitle">info@galaxycleaning.<br>co.uk</div>
                                    </li>
                                </ul>
                                <a href="{{url_for('main.contact')}}" class="fw-btn-fill bg-accent text-primarytext mt-1">Contact Us</a>
                            </div>
                        </div>
                        <div class="widget widget-download">
                            <div class="heading-layout4">
                                <h4>Download Now</h4>
                            </div>
                            <div class="download-list">
                                <ul>
                                    <li>
                                        <a href="#"><i class="far fa-file-pdf text-lightred"></i>Download Pdf File</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="far fa-file-word text-lightprimary"></i>Download Doc File</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fab fa-youtube text-red"></i>Video Download</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="widget widget-contact-form">
                            <div class="heading-layout4">
                                <h4>Have you Any Question?</h4>
                            </div>
                            <form class="contact-form-box" method="POST" action="{{url_for('main.message_us')}}">
                                <div class="row">
                                    <div class="col-12 form-group">
                                        <div class="form-icon"><i class="fas fa-user"></i></div>
                                        <input type="text" placeholder="Name" class="form-control" name="name" data-error="Name field is required" required>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="col-12 form-group">
                                        <div class="form-icon"><i class="far fa-envelope"></i></div>
                                        <input type="email" placeholder="E-mail Address" class="form-control" name="email" data-error="email field is required" required>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="col-12 form-group">
                                        <div class="form-icon"><i class="fas fa-phone-volume"></i></div>
                                        <input type="text" placeholder="Phone" class="form-control" name="phone" data-error="Phone field is required" required>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="col-12 form-group">
                                        <div class="form-icon"><i class="fas fa-question"></i></div>
                                        <input type="text" placeholder="Subject" class="form-control" name="subject" data-error="Phone field is required" required>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="col-12 form-group">
                                        <div class="form-icon"><i class="far fa-comments"></i></div>
                                        <textarea placeholder="Message here..." class="textarea form-control" name="message" id="form-message" rows="4" cols="20" 
                                        data-error="Message field is required" required></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="col-12 form-group">
                                        <button type="submit" class="fw-btn-fill bg-accent text-primarytext">Send Message</button>
                                    </div>
                                </div>
                                <div class="form-response"></div>
                            </form>
                        </div>
                        <div class="widget widget-banner">
                            <div class="item-img">
                                <img src="../static/images/widget-banner.png" alt="banner">
                            </div>
                            <div class="item-content">
                                <h2 class="item-title"><span>30</span>% Discount</h2>
                                <div class="item-subtitle">Promotion Offer Coming Soon</div>
                                <a href="{{url_for('main.contact')}}" class="fw-btn-fill bg-accent text-primarytext">Contact US</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Single Service Area End Here -->
        {% endblock %}