{% extends 'base.html' %}

{% block title %}
Our Services
{% endblock %}

{%block description%}
Transform Your Spaces with Galaxy Cleaning Services
Discover a wide range of professional cleaning services tailored to your needs. From residential cleaning to commercial cleaning and specialized services, we deliver exceptional results.
{%endblock%}

{% block keywords %}
cleaning services,professional cleaning, commercial cleaning,residential cleaning,carpet cleaning,
upholstery cleaning,janitorial services,maid service,house cleaning,office cleaning, deep cleaning,eco-friendly cleaning,affordable cleaning,reliable cleaning, experienced cleaners, customized cleaning plans,
move-in/move-out cleaning, disinfection services,sanitization services
{% endblock %}

{% block content %}

<!-- Inne Page Banner Area Start Here -->
<section class="inner-page-banner bg-common" data-bg-image="../static/images/breadcumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs-area">
                    <h1>Our Services</h1>
                    <ul>
                        <li>
                            <a href="{{url_for('main.index')}}">Home</a>
                        </li>
                        <li>Services</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Inne Page Banner Area End Here -->
<!-- Service Area Start Here -->
<section class="section-padding-12-9 bg-assh bg-common" data-bg-image="../static/images/bg-shape1.png">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-md-6">
                <div class="service-box-layout2 white-shadow">
                    <div class="item-img">
                        <img src="../static/images/service8.png" alt="thumb">
                    </div>
                    <div class="item-content">
                        <div class="item-icon">
                            <div class="icon-bg">
                                <i class="flaticon-dishwasher"></i>
                            </div>
                        </div>
                        <h3 class="item-title"><a href="{{url_for('main.residential')}}">Residential Cleaning</a></h3>
                        <div class="hover-content">
                            <p>
                                - Regular housekeeping
                                - Deep cleaning
                                - Move-in/move-out cleaning
                                - Spring cleaning and seasonal cleaning
                                - Post-renovation and construction cleaning</p>
                            <a href="{{url_for('main.residential')}}" class="btn-fill-xs bg-accent text-primarytext">Read More<i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="service-box-layout2 white-shadow">
                    <div class="item-img">
                        <img src="../static/images/service7.png" alt="thumb">
                    </div>
                    <div class="item-content">
                        <div class="item-icon">
                            <div class="icon-bg">
                                <i class="flaticon-tower"></i>
                            </div>
                        </div>
                        <h3 class="item-title"><a href="{{url_for('main.commercial')}}">Commercial Cleaning</a></h3>
                        <div class="hover-content">
                            <p>- Office cleaning
                                - Retail and showroom cleaning
                                - Medical facility and clinic cleaning
                                - School and daycare cleaning
                                - Restaurant and hospitality cleaning</p>
                            <a href="{{url_for('main.commercial')}}" class="btn-fill-xs bg-accent text-primarytext">Read More<i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="service-box-layout2 white-shadow">
                    <div class="item-img">
                        <img src="../static/images/service3.png" alt="thumb">
                    </div>
                    <div class="item-content">
                        <div class="item-icon">
                            <div class="icon-bg">
                                <i class="flaticon-clean-3"></i>
                            </div>
                        </div>
                        <h3 class="item-title"><a href="{{url_for('main.custom_clean')}}">Custom Cleaning</a></h3>
                        <div class="hover-content">
                            <p>- Tailored cleaning plans based on client needs and preferences
                                - One-time, weekly, bi-weekly, or monthly cleaning schedules</p>
                            <a href="{{url_for('main.custom_clean')}}" class="btn-fill-xs bg-accent text-primarytext">Read More<i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="service-box-layout2 white-shadow">
                    <div class="item-img">
                        <img src="../static/images/service4.png" alt="thumb">
                    </div>
                    <div class="item-content">
                        <div class="item-icon">
                            <div class="icon-bg">
                                <i class="flaticon-vacuum"></i>
                            </div>
                        </div>
                        <h3 class="item-title"><a href="{{url_for('main.green_clean')}}">Green Cleaning</a></h3>
                        <div class="hover-content">
                            <p>- Use of eco-friendly, non-toxic cleaning products
                                - Sustainable practices to reduce waste and environmental impact</p>
                            <a href="{{url_for('main.green_clean')}}" class="btn-fill-xs bg-accent text-primarytext">Read More<i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="service-box-layout2 white-shadow">
                    <div class="item-img">
                        <img src="../static/images/service5.png" alt="thumb">
                    </div>
                    <div class="item-content">
                        <div class="item-icon">
                            <div class="icon-bg">
                                <i class="flaticon-shower"></i>
                            </div>
                        </div>
                        <h3 class="item-title"><a href="{{url_for('main.sanitize')}}">Sanitization and Disinfection Services</a></h3>
                        <div class="hover-content">
                            <p>- High-touch surface disinfection
                                - COVID-19 and virus-specific cleaning protocols
                                - Electrostatic spraying and fogging for comprehensive sanitization</p>
                            <a href="#" class="btn-fill-xs bg-accent text-primarytext">Read More<i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="service-box-layout2 white-shadow">
                    <div class="item-img">
                        <img src="../static/images/service2.png" alt="thumb">
                    </div>
                    <div class="item-content">
                        <div class="item-icon">
                            <div class="icon-bg">
                                <i class="flaticon-sports-car"></i>
                            </div>
                        </div>
                        <h3 class="item-title"><a href="{{url_for('main.car_wash')}}">Car Wash</a></h3>
                        <div class="hover-content">
                            <p>-Exterior Hand Wash & Wax,
                                -Interior Vacuuming,
                                -Window Cleaning,
                                -Tire & Wheel Cleaning,
                                -Dashboard & Console Dusting,
                                -Seat Shampooing,
                                -Headlight Restoration,
                                -Engine Bay Cleaning,
                                -Odor Removal & Air Freshening
                                </p>
                            <a href="{{url_for('main.car_wash')}}" class="btn-fill-xs bg-accent text-primarytext">Read More<i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="service-box-layout2 white-shadow">
                    <div class="item-img">
                        <img src="../static/images/service9.png" alt="thumb">
                    </div>
                    <div class="item-content">
                        <div class="item-icon">
                            <div class="icon-bg">
                                <i class="flaticon-vacuum"></i>
                            </div>
                        </div>
                        <h3 class="item-title"><a href="{{url_for('main.specialized')}}">Specialized Cleaning</a></h3>
                        <div class="hover-content">
                            <p>- Carpet and upholstery cleaning
                                - Window cleaning
                                - Tile and grout cleaning
                                - Floor care
                                - Pressure washing</p>
                            <a href="{{url_for('main.specialized')}}" class="btn-fill-xs bg-accent text-primarytext">Read More<i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="service-box-layout2 white-shadow">
                    <div class="item-img">
                        <img src="../static/images/recruitment.jpg" alt="thumb">
                    </div>
                    <div class="item-content">
                        <div class="item-icon">
                            <div class="icon-bg">
                                <i class="flaticon-tower"></i>
                            </div>
                        </div>
                        <h3 class="item-title"><a href="{{url_for('main.recruitment')}}">Staff Recruitment & Training</a></h3>
                        <div class="hover-content">
                            <p>- Recruitment of qualified cleaning staff - Comprehensive training programs - Industry-specific skill development - Staff onboarding support - Ongoing performance assessments</p>
                            <a href="{{url_for('main.recruitment')}}" class="btn-fill-xs bg-accent text-primarytext">Read More<i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-xl-4 col-md-6">
                <div class="service-box-layout2 white-shadow">
                    <div class="item-img">
                        <img src="../static/images/service4.jpg" alt="thumb">
                    </div>
                    <div class="item-content">
                        <div class="item-icon">
                            <div class="icon-bg">
                                <i class="flaticon-sports-car"></i>
                            </div>
                        </div>
                        <h3 class="item-title"><a href="single-service1.html">Car Wash</a></h3>
                        <div class="hover-content">
                            <p>Sorem ipsum dolor sit amet consecte
                                tur adipisicing eiusmod area.</p>
                            <a href="#" class="btn-fill-xs bg-accent text-primarytext">Read More<i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>
<!-- Service Area End Here -->
<!-- Banner Area Start Here -->
<section class="banner-wrap-layout2" data-bg-image="../static/images/banner-bg1.jpg">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-lg-6 col-12">
                <div class="banner-box-layout4">
                    <h2 class="item-title text-Primary">Together <span>We'll Explore</span> New Things</h2>
                    <a href="#" class="btn-fill-md bg-accent btn-slide-hover text-primarytext">Book an Appointment<i class="fas fa-angle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="banner-box-layout5">
                <div class="item-icon shape1">
                        <img src="../static/images/icons/icon-shape4.png" alt="shape">
                    </div>
                    <div class="item-icon shape2">
                        <img src="../static/images/icons/icon-shape3.png" alt="shape">
                    </div>
                    <div class="item-icon shape3">
                        <img src="../static/images/icons/icon-shape2.png" alt="shape">
                    </div>
                    <div class="item-icon shape4">
                        <img src="../static/images/icons/icon-shape1.png" alt="shape">
                    </div>
                    <div class="item-img">
                        <img src="../static/images/banner-figure.png" alt="figure">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Area End Here -->
{% endblock %}