{% extends 'base.html' %}

{% block title %}
Services
{% endblock %}

{% block content %}
<!-- Inne Page Banner Area Start Here -->
<section class="inner-page-banner bg-common" data-bg-image="img/figure/breadcumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs-area">
                    <h1>Our Services</h1>
                    <ul>
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>Services</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Inne Page Banner Area End Here -->
<!-- Service Area Start Here -->
<section class="section-padding-12-9 bg-assh">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="service-box-layout3">
                    <div class="media media-none--xs">
                        <div class="item-icon">
                            <i class="flaticon-clean-3"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="item-title"><a href="single-service1.html">Window Cleaning</a></h3>
                            <p>Bero eos et accusamus et iusto odio digniss aw imos ducimus 
                                qui blanditiis praesentium modervolup service avalable watum.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="service-box-layout3">
                    <div class="media media-none--xs">
                        <div class="item-icon">
                            <i class="flaticon-tower"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="item-title"><a href="single-service1.html">Office Cleaning</a></h3>
                            <p>Bero eos et accusamus et iusto odio digniss aw imos ducimus 
                                qui blanditiis praesentium modervolup service avalable watum.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="service-box-layout3">
                    <div class="media media-none--xs">
                        <div class="item-icon">
                            <i class="flaticon-dishwasher"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="item-title"><a href="single-service1.html">Kitchen Cleaning</a></h3>
                            <p>Bero eos et accusamus et iusto odio digniss aw imos ducimus 
                                qui blanditiis praesentium modervolup service avalable watum.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="service-box-layout3">
                    <div class="media media-none--xs">
                        <div class="item-icon">
                            <i class="flaticon-vacuum"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="item-title"><a href="single-service1.html">Floor Cleaning</a></h3>
                            <p>Bero eos et accusamus et iusto odio digniss aw imos ducimus 
                                qui blanditiis praesentium modervolup service avalable watum.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="service-box-layout3">
                    <div class="media media-none--xs">
                        <div class="item-icon">
                            <i class="flaticon-shower"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="item-title"><a href="single-service1.html">Plumbing Service</a></h3>
                            <p>Bero eos et accusamus et iusto odio digniss aw imos ducimus 
                                qui blanditiis praesentium modervolup service avalable watum.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="service-box-layout3">
                    <div class="media media-none--xs">
                        <div class="item-icon">
                            <i class="flaticon-sports-car"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="item-title"><a href="single-service1.html">Car Wash</a></h3>
                            <p>Bero eos et accusamus et iusto odio digniss aw imos ducimus 
                                qui blanditiis praesentium modervolup service avalable watum.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="service-box-layout3">
                    <div class="media media-none--xs">
                        <div class="item-icon">
                            <i class="flaticon-brush"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="item-title"><a href="single-service1.html">Carpet Cleaning</a></h3>
                            <p>Bero eos et accusamus et iusto odio digniss aw imos ducimus 
                                qui blanditiis praesentium modervolup service avalable watum.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="service-box-layout3">
                    <div class="media media-none--xs">
                        <div class="item-icon">
                            <i class="flaticon-clean"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="item-title"><a href="single-service1.html">Garden Cleaning</a></h3>
                            <p>Bero eos et accusamus et iusto odio digniss aw imos ducimus 
                                qui blanditiis praesentium modervolup service avalable watum.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Service Area End Here -->
<!-- Process Area Start Here -->
<section class="section-padding-lg-2">
    <div class="container">
        <div class="heading-layout1">
            <h2>How It Works</h2>
            <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium dol
                oremque laudantium, totam remeaque ipsa</p>
        </div>
        <div class="row">
            <div class="col-lg-4 single-process">
                <div class="process-box-layout1">
                    <div class="item-bg">
                        <img src="img/figure/bubble5.png" alt="thumb">
                        <div class="item-icon">
                            <i class="far fa-calendar-check"></i>
                        </div>
                    </div>
                    <div class="item-content">
                        <h3 class="item-title">Book Online</h3>
                        <p>Ahen an unknown printer took a galley
                            of type and scrambled.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 single-process">
                <div class="process-box-layout1">
                    <div class="item-bg">
                        <img src="img/figure/bubble5.png" alt="thumb">
                        <div class="item-icon">
                            <i class="far fa-envelope"></i>
                        </div>
                    </div>
                    <div class="item-content">
                        <h3 class="item-title">Get Confirmation</h3>
                        <p>Ahen an unknown printer took a galley
                            of type and scrambled.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 single-process">
                <div class="process-box-layout1">
                    <div class="item-bg">
                        <img src="img/figure/bubble5.png" alt="thumb">
                        <div class="item-icon">
                            <i class="far fa-smile"></i>
                        </div>
                    </div>
                    <div class="item-content">
                        <h3 class="item-title">Let’s Enjoy</h3>
                        <p>Ahen an unknown printer took a galley
                            of type and scrambled.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Process Area End Here -->
<!-- Banner Area Start Here -->
<section class="banner-wrap-layout3 bg-lightprimary">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="banner-box-layout2">
                    <h2 class="item-title">Together <span>We'll Explore</span> New Things</h2>
                    <p>Chen an unknown printer took a galley of type and scrambled it to make 
                        a type specimen book. It has survived not only five centuries, but also 
                        the leap into electronic typesetting, remaining essentially.</p>
                    <a href="#" class="btn-fill-sm btn-slide-hover bg-accent text-primarytext">Request an Estimate<i class="fas fa-angle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="banner-box-layout3">
                    <div class="item-img">
                        <img src="img/figure/figure9.png" alt="Banner-thumb">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Area End Here -->
{% endblock %}