{% extends 'base.html' %}

{% block title %}
Projects
{% endblock %}

{% block content %}
<!-- Inne Page Banner Area Start Here -->
<section class="inner-page-banner bg-common" data-bg-image="img/figure/breadcumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs-area">
                    <h1>Office Cleaning Project</h1>
                    <ul>
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            <a href="project1.html">Project</a>
                        </li>
                        <li>Office Cleaning</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Inne Page Banner Area End Here -->
<!-- Single Projects Area Start Here -->
<section class="section-padding-12">
    <div class="container">
       <div class="row">
           <div class="col-lg-8">
                <div class="single-project-box-layout1">
                    <div class="single-project-slider">
                        <div class="rc-carousel nav-control-layout2" data-loop="true" data-items="10" data-margin="10"
                        data-autoplay="false" data-autoplay-timeout="3000" data-smart-speed="1000" data-dots="false"
                        data-nav="true" data-nav-speed="false" data-r-x-small="1" data-r-x-small-nav="true"
                        data-r-x-small-dots="false" data-r-x-medium="1" data-r-x-medium-nav="true" data-r-x-medium-dots="false"
                        data-r-small="1" data-r-small-nav="true" data-r-small-dots="false" data-r-medium="1"
                        data-r-medium-nav="true" data-r-medium-dots="false" data-r-large="1" data-r-large-nav="true"
                        data-r-large-dots="false" data-r-extra-large="1" data-r-extra-large-nav="true"
                        data-r-extra-large-dots="false">
                            <div class="slide-item">
                                <img src="img/project/project7.jpg" alt="project">
                            </div>
                            <div class="slide-item">
                                <img src="img/project/project8.jpg" alt="project">
                            </div>
                        </div>
                    </div>
                    <div class="single-project-info">
                        <div class="item-content">
                            <h3 class="item-title">Project Description</h3>
                            <p>Ahen an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                                It has survived not only five centuries, but also the leap into electronic typesetting, 
                                remaining essentially unchanged. It was popularised in the 1960s with the release of 
                                Letraset sheets containing Lorem Ipsum passages, and more recently with desktop 
                                publishing software like Aldus PageMaker including versionsAhen an unknown printer 
                                took a galley of type and scrambled it to make a type specimen book. It has survived 
                                not only five centuries, but also the leap into electronic.</p>
                        </div>
                        <div class="item-content">
                            <h3 class="item-title">Challenges</h3>
                            <p>Ahen an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                                It has survived not only five centuries, but also the leap into electronic typesetting,
                                remaining essentially unchanged.</p>
                            <ul class="list-item">
                                <li><i class="fas fa-check"></i>Increasing revenue growth in 2019</li>
                                <li><i class="fas fa-check"></i>Enabling greater selling</li>
                                <li><i class="fas fa-check"></i>Improving compliance reporting</li>
                            </ul>
                            <p>Ahen an unknown printer took a galley of type and scrambled it to make a type 
                            specimen book. It has survived not only five centuries.</p>
                        </div>
                        <div class="item-content">
                            <h3 class="item-title">Solutions</h3>
                            <p>Ahen an unknown printer took a galley of type and scrambled it to make a type 
                                specimen book. It has survived not only five centuries, but also the leap into 
                                electronic typesetting, remaining essentially unchanged.</p>
                            <ul class="list-item">
                                <li><i class="fas fa-check"></i>Increasing revenue growth in 2019</li>
                                <li><i class="fas fa-check"></i>Enabling greater selling</li>
                                <li><i class="fas fa-check"></i>Improving compliance reporting</li>
                                <li><i class="fas fa-check"></i>Increasing revenue growth in 2019</li>
                                <li><i class="fas fa-check"></i>Enabling greater selling</li>
                            </ul>
                        </div>
                    </div>
                </div>
           </div>
           <div class="col-lg-4 sidebar-break-md sidebar-widget-area">
                <div class="widget widget-project-info">
                    <div class="heading-layout4">
                        <h3>Project Information</h3>
                    </div>
                    <div class="project-details">
                        <p>when an unknown printer took a galley of  type and scrambled</p>
                        <ul>
                            <li><span>Category</span>Office Cleaning</li>
                            <li><span>Client</span>RadiusTheme</li>
                            <li><span>Start</span>22.05.2019</li>
                            <li><span>End</span>01.06.2019</li>
                            <li><span>Website</span>www.clenix.com</li>
                            <li><span>Rating</span> 
                                <ul class="item-rating">
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="widget widget-recent-post">
                    <div class="heading-layout4">
                        <h4>Recent Posts</h4>
                    </div>
                    <ul class="recent-post-list">
                        <li>
                            <div class="post-date"><i class="far fa-clock"></i> 14 July, 2019</div>
                            <h6 class="item-title"><a href="single-blog1.html">Why Clany’s a life-saver for my flatshare!</a></h6>
                        </li>
                        <li>
                            <div class="post-date"><i class="far fa-clock"></i> 14 July, 2019</div>
                            <h6 class="item-title"><a href="single-blog1.html">Why Clany’s a life-saver for my flatshare!</a></h6>
                        </li>
                        <li>
                            <div class="post-date"><i class="far fa-clock"></i> 14 July, 2019</div>
                            <h6 class="item-title"><a href="single-blog1.html">Why Clany’s a life-saver for my flatshare!</a></h6>
                        </li>
                    </ul>
                </div>
                <div class="widget widget-banner">
                    <div class="item-img">
                        <img src="img/figure/widget-banner.png" alt="banner">
                    </div>
                    <div class="item-content">
                        <h2 class="item-title"><span>30</span>% Discount</h2>
                        <div class="item-subtitle">Promotion Offer 16 Days</div>
                        <a href="#" class="fw-btn-fill bg-accent text-primarytext">Contact With US</a>
                    </div>
                </div>
           </div>
       </div>
    </div>
</section>
<!-- Single Projects Area End Here -->
{% endblock %}