{% extends 'base.html' %}

{% block title %}
Products
{% endblock %}

{% block content %}
        <!-- Inne Page Banner Area Start Here -->
        <section class="inner-page-banner bg-common" data-bg-image="img/figure/breadcumb.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumbs-area">
                            <h1>White Detergent Powder</h1>
                            <ul>
                                <li>
                                    <a href="index.html">Home</a>
                                </li>
                                <li>
                                    <a href="shop.html">Shop</a>
                                </li>
                                <li>Details</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Inne Page Banner Area End Here -->
        <!-- Team Area Start Here -->
        <section class="section-padding-12-9">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="single-product-gallery-layout1">
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade active show" id="related1">
                                    <a href="#">
                                        <img class="zoom_01 img-fluid" alt="single" src="img/figure/product13.jpg" data-zoom-image="img/figure/product9.jpg">
                                    </a>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="related2">
                                    <a href="#">
                                        <img class="zoom_01 img-fluid" alt="single" src="img/figure/product13.jpg" data-zoom-image="img/figure/product9.jpg">
                                    </a>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="related3">
                                    <a href="#">
                                        <img class="zoom_01 img-fluid" alt="single" src="img/figure/product13.jpg" data-zoom-image="img/figure/product9.jpg">
                                    </a>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="related4">
                                    <a href="#">
                                        <img class="zoom_01 img-fluid" alt="single" src="img/figure/product13.jpg" data-zoom-image="img/figure/product9.jpg">
                                    </a>
                                </div>
                            </div>
                            <ul class="nav nav-tabs tab-nav-list">
                                <li class="nav-item">
                                    <a class="active" href="#related1" data-toggle="tab" aria-expanded="false">
                                        <img alt="related1" src="img/figure/product10.jpg" class="img-fluid">
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#related2" data-toggle="tab" aria-expanded="false">
                                        <img alt="related2" src="img/figure/product11.jpg" class="img-fluid">
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#related3" data-toggle="tab" aria-expanded="false">
                                        <img alt="related3" src="img/figure/product12.jpg" class="img-fluid">
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#related4" data-toggle="tab" aria-expanded="false">
                                        <img alt="related4" src="img/figure/product10.jpg" class="img-fluid">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="single-product-content-layout1">
                            <h3 class="item-title">White Detergent Powder</h3>
                            <ul class="item-rating">
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li class="item-review">(<span>05</span> Customer Reviews)</li>
                            </ul>
                            <ul class="entry-meta">
                                <li>SKU: 
                                    <span>D5920</span>
                                </li>
                                <li>Category: 
                                    <a href="#">Detergent</a>
                                </li>
                                <li>Tags: 
                                    <a href="#">Cleaning</a>
                                </li>
                                <li class="item-social">
                                    Share:
                                    <ul>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                        <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                                        <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                                    </ul>

                                </li>
                            </ul>
                            <div class="item-price">$59.00</div>
                            <p>Pellentesque habitant morbi tristique senectustty netus et malesuada 
                                areay fames ac turpis egestas aeeartibulum tortor quam feugiatunknown it to make.
                                Pellentesque habitant morbi tristique senectustty netus et malesuada.</p>
                            <ul class="action-area">
                                <li id="quantity-holder">
                                    <div class="input-group quantity-holder">
                                        <input type="text" name='quantity' class="form-control quantity-input" value="1" placeholder="1">
                                        <div class="input-group-btn">
                                            <button class="quantity-btn quantity-plus" type="button">
                                                <i class="fas fa-caret-up" aria-hidden="true"></i>
                                            </button>
                                            <button class="quantity-btn quantity-minus" type="button">
                                                <i class="fas fa-caret-down" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" class="cart-btn">Add to Cart</a>
                                </li>
                                <li>
                                    <a href="#" class="react-btn"><i class="far fa-heart"></i></a>
                                </li>
                                <li>
                                    <a href="#" class="react-btn"><i class="fas fa-exchange-alt"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="single-product-other-info">
                    <ul class="nav nav-tabs tab-nav-list">
                        <li class="nav-item">
                            <a class="active" href="#related5" data-toggle="tab" aria-expanded="false">Description</a>
                        </li>
                        <li class="nav-item">
                            <a href="#related6" data-toggle="tab" aria-expanded="false">Additional Info</a>
                        </li>
                        <li class="nav-item">
                            <a href="#related7" data-toggle="tab" aria-expanded="false">Reviews(05)</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="related5">
                            Pellentesque habitant morbi tristique senectus et netus et malesuada 
                            fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies 
                            eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. 
                            Aenean ultricies mi vitae est.Pellentesque habitant morbi tristique senectus 
                            et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, 
                            feugiat vitae, ultricies eget, tempor sit amet, ante. Pellentesque habitant
                            morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
                            Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. 
                            Donec eu libero sit amet quam egestas semper. Pellentesque habitant morbi 
                            tristique senectus et netus et malesuada.
                        </div>
                        <div class="tab-pane fade" id="related6">
                            Pellentesque habitant morbi tristique senectus et netus et malesuada 
                            fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies 
                            eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. 
                            Aenean ultricies mi vitae est.Pellentesque habitant morbi tristique senectus 
                            et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, 
                            feugiat vitae, ultricies eget, tempor sit amet, ante. Pellentesque habitant
                            morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
                            Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. 
                            Donec eu libero sit amet quam egestas semper. Pellentesque habitant morbi 
                            tristique senectus et netus et malesuada.
                        </div>
                        <div class="tab-pane fade" id="related7">
                            Pellentesque habitant morbi tristique senectus et netus et malesuada 
                            fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies 
                            eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. 
                            Aenean ultricies mi vitae est.Pellentesque habitant morbi tristique senectus 
                            et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, 
                            feugiat vitae, ultricies eget, tempor sit amet, ante. Pellentesque habitant
                            morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
                            Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. 
                            Donec eu libero sit amet quam egestas semper. Pellentesque habitant morbi 
                            tristique senectus et netus et malesuada.
                        </div>
                    </div>
                </div>
                <div class="latest-product-wrap">
                    <div class="heading-layout1">
                        <h2>Related Products</h2>
                        <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium dol
                            oremque laudantium, totam remeaque ipsa</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="product-box-layout1">
                                <div class="product-grid-view">
                                    <div class="item-img">
                                        <img src="img/figure/product5.png" alt="product">
                                        <div class="action-btn-area">
                                            <ul>
                                                <li><a href="#" class="cart-btn"><i class="fas fa-shopping-cart"></i></a></li>
                                                <li><a href="#" class="like-btn"><i class="far fa-heart"></i></a></li>
                                                <li><a href="#" class="compare-btn"><i class="fas fa-exchange-alt"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="item-content">
                                        <ul class="item-rating">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                        <h4 class="item-title"><a href="single-product.html">White Detergent</a></h4>
                                        <div class="item-price">$39.00</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="product-box-layout1">
                                <div class="product-grid-view">
                                    <div class="item-img">
                                        <img src="img/figure/product6.png" alt="product">
                                        <div class="action-btn-area">
                                            <ul>
                                                <li><a href="#" class="cart-btn"><i class="fas fa-shopping-cart"></i></a></li>
                                                <li><a href="#" class="like-btn"><i class="far fa-heart"></i></a></li>
                                                <li><a href="#" class="compare-btn"><i class="fas fa-exchange-alt"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="item-content">
                                        <ul class="item-rating">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                        <h4 class="item-title"><a href="single-product.html">White Detergent</a></h4>
                                        <div class="item-price">$39.00</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="product-box-layout1">
                                <div class="product-grid-view">
                                    <div class="item-img">
                                        <img src="img/figure/product7.png" alt="product">
                                        <div class="action-btn-area">
                                            <ul>
                                                <li><a href="#" class="cart-btn"><i class="fas fa-shopping-cart"></i></a></li>
                                                <li><a href="#" class="like-btn"><i class="far fa-heart"></i></a></li>
                                                <li><a href="#" class="compare-btn"><i class="fas fa-exchange-alt"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="item-content">
                                        <ul class="item-rating">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                        <h4 class="item-title"><a href="single-product.html">White Detergent</a></h4>
                                        <div class="item-price">$39.00</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="product-box-layout1">
                                <div class="product-grid-view">
                                    <div class="item-img">
                                        <img src="img/figure/product1.png" alt="product">
                                        <div class="action-btn-area">
                                            <ul>
                                                <li><a href="#" class="cart-btn"><i class="fas fa-shopping-cart"></i></a></li>
                                                <li><a href="#" class="like-btn"><i class="far fa-heart"></i></a></li>
                                                <li><a href="#" class="compare-btn"><i class="fas fa-exchange-alt"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="item-content">
                                        <ul class="item-rating">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                        <h4 class="item-title"><a href="single-product.html">White Detergent</a></h4>
                                        <div class="item-price">$39.00</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Team Area End Here -->
        {% endblock %}