{% extends 'base.html' %}

{% block title %}
Our Team Member
{% endblock %}

{% block content %}
<!-- Inne Page Banner Area Start Here -->
<section class="inner-page-banner bg-common" data-bg-image="../static/images/breadcumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs-area">
                    <h1>Hard Working People</h1>
                    <ul>
                        <li>
                            <a href="{{url_for('main.index')}}">Home</a>
                        </li>
                        <li>Team Member</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Inne Page Banner Area End Here -->
<!-- Team Area Start Here -->
<section class="section-padding-12">
    <div class="container">
       <div class="row" id="no-equal-gallery">
           <div class="col-lg-4 no-equal-item">
               <div class="single-team-layout1">
                   <div class="item-img">
                        <img src="../static/images/team1.png" alt="team-member">
                   </div>
               </div>
           </div>
           <div class="col-lg-8 no-equal-item">
               <div class="single-team-layout1">
                   <div class="item-content">
                       <h2 class="item-title">{{team.first_name}} {{team.last_name}}</h2>
                       <div class="item-subtitle">{{team.role}}</div>
                       <div class="item-contact-info">
                           <ul>
                               <li><i class="flaticon-call-answer"></i><span>Phone:</span> {{team.phone}}</li>
                               <li><i class="flaticon-maps-and-flags"></i><span>Address:</span> {{team.address}}</li>
                               <li><i class="flaticon-message"></i><span>E-mail:</span> {{team.email}}</li>
                               <li class="item-social">
                                   <ul>
                                        <li><a href="{{team.fb_social}}"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="{{team.x_social}}"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="{{team.lkdn_social}}"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li><a href="{{team.pin_social}}"><i class="fab fa-pinterest"></i></a></li>
                                   </ul>
                               </li>
                           </ul>
                       </div>
                       <div class="about-us">About {{team.first_name}}</div>
                       <p>{{team.about_me}} </p>
                   </div>
               </div>
           </div>
           <div class="col-lg-4 no-equal-item">
                <div class="widget-contact-form">
                    <div class="heading-layout4">
                        <h4>Have you Any Question?</h4>
                    </div>
                    <form class="contact-form-box" method="POST" action="{{url_for('main.message_us')}}">
                        <div class="row">
                            <div class="col-12 form-group">
                                <div class="form-icon"><i class="fas fa-user"></i></div>
                                <input type="text" placeholder="Name" class="form-control" name="name" data-error="Name field is required" required>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-12 form-group">
                                <div class="form-icon"><i class="far fa-envelope"></i></div>
                                <input type="email" placeholder="E-mail Address" class="form-control" name="email" data-error="email field is required" required>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-12 form-group">
                                <div class="form-icon"><i class="fas fa-phone-volume"></i></div>
                                <input type="text" placeholder="Phone" class="form-control" name="phone" data-error="Phone field is required" required>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-12 form-group">
                                <div class="form-icon"><i class="fas fa-question"></i></div>
                                <input type="text" placeholder="Subject" class="form-control" name="subject" data-error="Phone field is required" required>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-12 form-group">
                                <div class="form-icon"><i class="far fa-comments"></i></div>
                                <textarea placeholder="Message" class="textarea form-control" name="message" id="form-message" rows="4" cols="20" 
                                data-error="Message field is required" required></textarea>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-12 form-group">
                                <button type="submit" class="fw-btn-fill bg-accent text-primarytext">Send Message</button>
                            </div>
                        </div>
                        <div class="form-response"></div>
                    </form>
                </div>
           </div>
       </div>
    </div>
</section>
<!-- Team Area End Here -->
{% endblock %}