{% extends 'base.html' %}

{% block title %}
Our Team
{% endblock %}

{% block content %}
<!-- Inne Page Banner Area Start Here -->
<section class="inner-page-banner bg-common" data-bg-image="img/figure/breadcumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs-area">
                    <h1>Hard Working People</h1>
                    <ul>
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>Teams</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Inne Page Banner Area End Here -->
<!-- Team Area Start Here -->
<section class="section-padding-12">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
                <div class="team-box-layout2">
                    <div class="item-img">
                        <img src="img/team/team4.png" alt="team-member">
                        <div class="item-content">
                            <h3 class="item-title"><a href="single-team.html">Richard Powel</a></h3>
                            <div class="item-subtitle">Office Cleaner</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="team-box-layout2">
                    <div class="item-img">
                        <img src="img/team/team5.png" alt="team-member">
                        <div class="item-content">
                            <h3 class="item-title"><a href="single-team.html">Richard Powel</a></h3>
                            <div class="item-subtitle">Office Cleaner</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="team-box-layout2">
                    <div class="item-img">
                        <img src="img/team/team6.png" alt="team-member">
                        <div class="item-content">
                            <h3 class="item-title"><a href="single-team.html">Richard Powel</a></h3>
                            <div class="item-subtitle">Office Cleaner</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="team-box-layout2">
                    <div class="item-img">
                        <img src="img/team/team7.png" alt="team-member">
                        <div class="item-content">
                            <h3 class="item-title"><a href="single-team.html">Richard Powel</a></h3>
                            <div class="item-subtitle">Office Cleaner</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="team-box-layout2">
                    <div class="item-img">
                        <img src="img/team/team8.png" alt="team-member">
                        <div class="item-content">
                            <h3 class="item-title"><a href="single-team.html">Richard Powel</a></h3>
                            <div class="item-subtitle">Office Cleaner</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="team-box-layout2">
                    <div class="item-img">
                        <img src="img/team/team9.png" alt="team-member">
                        <div class="item-content">
                            <h3 class="item-title"><a href="single-team.html">Richard Powel</a></h3>
                            <div class="item-subtitle">Office Cleaner</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pagination-layout1 text-center pd-t-50">
            <ul>
                <li><a href="#" class="nav-item active">1</a></li>
                <li><a href="#" class="nav-item">2</a></li>
                <li><a href="#" class="nav-item">3</a></li>
                <li><a href="#" class="nav-item">4</a></li>
            </ul>
        </div>
    </div>
</section>
<!-- Team Area End Here -->
{% endblock %}