{% extends 'base.html' %}

{% block title %}
Our Team
{% endblock %}

{% block content %}
<!-- Inne Page Banner Area Start Here -->
<section class="inner-page-banner bg-common" data-bg-image="img/figure/breadcumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs-area">
                    <h1>Hard Working People</h1>
                    <ul>
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>Teams</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Inne Page Banner Area End Here -->
<!-- Team Area Start Here -->
<section class="section-padding-12">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="team-box-layout1">
                    <div class="item-img">
                        <img src="img/team/team1.png" alt="team-thumb">
                    </div>
                    <div class="item-content">
                        <h3 class="item-title"><a href="single-team.html">Richard Powel</a></h3>
                        <div class="item-subtitle">Office Cleaner</div>
                        <div class="item-social">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-box-layout1">
                    <div class="item-img">
                        <img src="img/team/team2.png" alt="team-thumb">
                    </div>
                    <div class="item-content">
                        <h3 class="item-title"><a href="single-team.html">Merry Patel</a></h3>
                        <div class="item-subtitle">Kitchen Cleaner</div>
                        <div class="item-social">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-box-layout1">
                    <div class="item-img">
                        <img src="img/team/team3.png" alt="team-thumb">
                    </div>
                    <div class="item-content">
                        <h3 class="item-title"><a href="single-team.html">Johnson Jack</a></h3>
                        <div class="item-subtitle">Floor Cleaner</div>
                        <div class="item-social">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-box-layout1">
                    <div class="item-img">
                        <img src="img/team/team10.png" alt="team-thumb">
                    </div>
                    <div class="item-content">
                        <h3 class="item-title"><a href="single-team.html">Merry Patel</a></h3>
                        <div class="item-subtitle">Floor Cleaner</div>
                        <div class="item-social">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-box-layout1">
                    <div class="item-img">
                        <img src="img/team/team11.png" alt="team-thumb">
                    </div>
                    <div class="item-content">
                        <h3 class="item-title"><a href="single-team.html">Richard Powel</a></h3>
                        <div class="item-subtitle">Floor Cleaner</div>
                        <div class="item-social">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-box-layout1">
                    <div class="item-img">
                        <img src="img/team/team12.png" alt="team-thumb">
                    </div>
                    <div class="item-content">
                        <h3 class="item-title"><a href="single-team.html">Rhonda Megan</a></h3>
                        <div class="item-subtitle">Floor Cleaner</div>
                        <div class="item-social">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-box-layout1">
                    <div class="item-img">
                        <img src="img/team/team1.png" alt="team-thumb">
                    </div>
                    <div class="item-content">
                        <h3 class="item-title"><a href="single-team.html">Richard Powel</a></h3>
                        <div class="item-subtitle">Office Cleaner</div>
                        <div class="item-social">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-box-layout1">
                    <div class="item-img">
                        <img src="img/team/team2.png" alt="team-thumb">
                    </div>
                    <div class="item-content">
                        <h3 class="item-title"><a href="single-team.html">Merry Patel</a></h3>
                        <div class="item-subtitle">Kitchen Cleaner</div>
                        <div class="item-social">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-box-layout1">
                    <div class="item-img">
                        <img src="img/team/team3.png" alt="team-thumb">
                    </div>
                    <div class="item-content">
                        <h3 class="item-title"><a href="single-team.html">Johnson Jack</a></h3>
                        <div class="item-subtitle">Floor Cleaner</div>
                        <div class="item-social">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pagination-layout1 text-center pd-t-50">
            <ul>
                <li><a href="#" class="nav-item active">1</a></li>
                <li><a href="#" class="nav-item">2</a></li>
                <li><a href="#" class="nav-item">3</a></li>
                <li><a href="#" class="nav-item">4</a></li>
            </ul>
        </div>
    </div>
</section>
<!-- Team Area End Here -->
{% endblock %}